.column {
    float: left;
    width: 50%;

}
  
.row:after {
content: "";
display: table;
clear: both;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 15px;
    text-align: center;
}

.input-field{
    max-width: 350px;
    width: 100%;
    height: 45px;
    background-color: #F6F4E7;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    border: 2px solid #a7241b;

}

.input-field i{
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 1.2rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    list-style: 1;
    font-size: 1.2rem;
    color: #333;
}

.input-field:hover{
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}


.input-field input:placeholder-shown{
    color: #aaa;
    font-weight: 500;
}

.btn{
top: 0;
left: 50%;
color: black;
border-radius: 25px;
padding: 7px 25px 8px 25px;
white-space: nowrap;
transition: 0.3s;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
font-family: 'Raleway', sans-serif;
font-size: 15px;
font-weight: bolder;
display: inline-block;
border: 2px solid #a7241b;
background: transparent;

}

.btn:hover {
text-decoration: none;
background: #9c2e26;
color: white;
}