@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


.form-holder {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-content .form-items {
    border: 3px solid black;
    padding: 30px;
    display: inline-block;
    width: 100%;
    min-width: 40em;
    border-radius: 10px;
    text-align: left;

}

.form-content h3 {
    color: black;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: black;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: black;
}

.form-content input[type=text], .form-content input[type=number], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #F6F4E7;
    font-size: 15px;
    font-weight: 300;
    color: black;
    border: 1px solid black;
}


.form-row {
display: flex;
}

.form-group {
padding: 5px;
width: 50%;
}

.form-group input {
width: 100%;
}