body {
  padding-top: 100px;
  background: url("../img/campus.jpg") center;
  background-size: cover;
  text-align: center;
}

input {
  font-family: "Raleway", sans-serif;
}
.title {
  font-size: 2.2rem;
  color: #aa1005;
  margin-bottom: 10px;
}
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  /* border: #ffc451 solid; */
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #444;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.btn {
  width: 150px;
  background-color: #d78f00;
  outline: none;
  height: 49px;
  border: 2px solid #d78f00;
  border-radius: 49px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  color: #151617;
  background-color: #ffd584;
  border-color: #ffd584;
}

.panel-login>.panel-heading {
color: #053070;
background-color: rgb(255, 255, 255);
border-color: #fff;
text-align:center;
margin: 10px 0px 0px 0px;
}
.panel-login>.panel-heading a{
text-decoration: none;
color: #666;
font-weight: bold;
font-size: 15px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
color: #aa1005;
font-size: 18px;
}

div.overlay-form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 400px;
  margin: auto;
  text-align: center;
  padding: 45px 55px 75px 55px;
}
