{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Supplies Delivery </title>

<div class="home-content">
    <div class="input-group mb-3" style="min-width: 50px;">
        <span class="input-group-text" id="inputGroup-sizing-default">Supply name:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3" style="min-width: 50px;">
        <span class="input-group-text" id="inputGroup-sizing-default">Unit:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>


</div>

{% endblock %}