{% extends 'task/home.html' %}
{% load static %}



{% block content %}
<link rel="stylesheet" href="{% static 'css/qr-style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/qr-code-styling/lib/qr-code-styling.js"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<title> Add New Items </title>
<style>
    .content {
        max-width: 525px;
        margin: auto;
    }


    .btn{
    top: 0;
    left: 50%;
    color: black;
    border-radius: 25px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    display: inline-block;
    border: 2px solid #ffc451;
    background: transparent;
    
  }
  
  
  .btn:hover {
  text-decoration: none;
  background: #ffbb38;
  color: white;
  }

  #modalBtn{
    color: #587B89;

  }


</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;">
                    <h2>Add New Items</h2>
                </label>
            </div>
        </div>

        <div class="profile-details">
            <!--<img src="images/profile.jpg" alt="">-->
            <text class="admin_name">Supply Admin</text>
            <i class='bx bx-chevron-down'></i>
        </div>
    </nav>

    <div class="container home-content content"> <br>
        <div align="center" style="margin: auto;">
            <label style="text-align: center;">
                <h2>Creating QR</h2>
            </label>
        </div>
        <br>

        <div class="container">
            <div class="row">
                
                <div class="column" style="padding-top: 10px;">
                    <form id="qrForm" onsubmit="return false;">
                        <div class="column">
                            <div class="inputContainer">
                                <label for="dataInput">Item name:</label>
                                <input type="text" class="input-field" onchange="updateQrItemName();" name="dataInput" id="itemname" placeholder="e.g. printer" required />
    
                                <label for="dataInput">Unit:</label>
                                <input type="text" class="input-field" onchange="updateQrUnit();" name="dataInput" id="unit" placeholder="e.g. box" required />
                            </div>
                            <div class="inputContainer">
                                <label for="colorInput">Color:</label>
                                <input type="color" onchange="updateQrColor();" name="colorInput" id="colorInput" />
                            </div>
                            <div class="inputContainer">
                                <label for="typeInput">Type:</label>                    
                                <select class="input-field" name="typeInput" id="typeInput" onchange="updateQrType();">                   
                                  <option value="square">Square</option>                   
                                  <option value="rounded">Rounded</option>                    
                                  <option value="dots">Dots</option>                   
                                </select>                   
                            </div>
                        
    
                        </div>
                        
                    </form>
                

                </div>

                <div class="column" align="center">
                    <div align="right" class="container">
                        <a href="#myModal" id="modalBtn" data-toggle="modal" ><i class="fa-sharp fa-solid fa-circle-info fa-xl"></i></a>
                    </div>
                    <div id="canvas" style="padding-top: 5px;"></div><br>
                    <button id="formButton" class="btn" onclick="download();">Download</button>
                </div>


                <div class="container" align="center"> <br>
                    
                    
                </div>
                
                <!-- Modal HTML -->
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-login">
                        <div class="modal-content">
                            <div class="modal-header">				
                                <h4 class="modal-title">Instruction</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">				
                                <p>Please add a dash(-) in between instead of space if item name is longer than 9 words.</p>
                            </div>
                            
                        </div>
                    </div>
                </div> 
                
            
            </div>
        </div>
        
        


    </div>

    

    <!--
    <script>
        function validateForm() {
            let x = document.forms["qrForm"]["dataInput"].value;
            if (x == "") {
                alert("Please enter QR code informations.");
                return false;
            }

        }
    </script> -->
</section>



<script type="text/javascript" src="{% static 'js/qr.js' %}"></script>







{% endblock %}