{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login-design.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'img/TUP LOGO.png'%}" type="image/x-icon">
    

    <title>Admin Login</title>
</head>
<body>
	<div class="section">	
			<div class="container"> 
				<div class="">	
					<div class="col-12 text-center align-self-center py-5">	
						<div class="">	
							
					
								
								<div class="card-3d-wrap mx-auto">	
									<div class="card-3d-wrapper">	
										<div class="card-front">	
											<div class="center-wrap">
												<div class="d-flex justify-content-center">
													<div class="brand_logo_container">
														<img src="{% static 'img/TUP LOGO.png' %}" class="brand_logo" alt="Logo">
													</div>
												</div>	
												<br><br><br>
												<div class="section text-center">	
												<h4 class="mb-0 pb-3">Admin Login</h4>	
												<form method="post" action="">
													{% csrf_token %}
													<div class="form-group"> 
														<input type="text" name="logname" class="form-style" placeholder="Username" required>	
														<i class="input-icon fa fa-user"></i>	
													</div>	
													<div class="form-group mt-2"> 
														<input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" required>	
														<i class="input-icon fa fa-lock"></i>	
													</div>	
													<div class="custom-control custom-checkbox">
														<input type="checkbox" onclick="showpass()" class="custom-control-input" id="customControlInline">
														<label class="custom-control-label" for="customControlInline">Show password</label>
													</div>
													<input type="submit" class="btn mt-4" value="LOGIN">	
													<p class="mb-0 mt-4 text-center"> 
														<a href="{% url 'inventorysystem-deptLogin' %}" class="link">Department Login</a> </p>	
													</div>
												</form>
												
											</div>	
										</div>	
										
									</div>	
								</div>	
							</div>	
						</div>	
					</div> 
				</div>	
			</div>

	
			{% for message in messages %}
				{% if message.tags == 'info' %}
					<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
					<script>
						var m = "{{ message }}";
						swal('Notice: ', m,'info')
					</script>
				{% endif %}
			{% endfor %}


	<script type="text/javascript">
		function showpass() {
			var x = document.getElementById("logpass");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}

	</script>
</body>
</html>


