{% extends 'task/supplies-delivery.html' %}
{% load static %}



{% block content %}

<title> Withdraw Equipment </title>


<style>
    .btn1{
        background-color: #ad413a;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        width: 8em;
    }
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    .form-holder{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 32px 25px;
        height: inherit;
        
    }

    .kahon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(255, 255, 255);
    padding: 32px 25px;
    height: inherit;
}
.box-2{
    margin: 25px;
    height: 300px;
    outline: dashed 2px rgb(11, 11, 11);;
    /* Setup */
    position: relative;
}
.border{
/* Center vertically and horizontally */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.col-md-4 input{
    border: solid #3E3E3E 1.5px;
}

.col-md-2 input{
    border: solid #3E3E3E 1.5px;
}

.col-md-12 input{
    border: solid #3E3E3E 1.5px;
}


.col-md-6 input{
    border: solid #3E3E3E 1.5px;
}


</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Withdraw Equipment</h2></label>
            </div>
        </div>
    </nav>

    <br><br><br><br><br>
    <div class="container" style="width: 97%;">

            <div class="kahon">

                <form class="row g-3" action="" method="post" name="form">
                    {% csrf_token %}
                    <div class="col-md-4">
                      <label class="form-label">Issued to:</label>
                      {{form.arequest_equipment_issued_to}}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Item Name: </label>
                        {{form.arequest_equipment_itemname}}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Brand: </label>
                        {{form.arequest_equipment_brand}}
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Description: </label>
                        {{form.arequest_equipment_description}}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Quantity: </label>
                        {{form.arequest_equipment_quantity}}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Remaining: </label>
                        {{form.arequest_equipment_remaining}}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Date and Time: </label>
                        {{form.current_date}}
                    </div>
                    <div class="col-md-6">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label class="form-label">Property No: </label>
                        {{form.arequest_equipment_property_no}}
                    </div>
                    
                    <div class="col-md-6">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label class="form-label">Year Acquired: </label>
                        {{form.arequest_equipment_yearacquired}}
                    </div>
                    <div class="col-md-4">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label class="form-label">Model No: </label>
                            {{form.arequest_equipment_model_no}}
                    </div>
                    <div class="col-md-4">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label class="form-label">Serial No: </label>
                        {{form.arequest_equipment_serial_no}}
                    </div>
                    <div class="col-md-4">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label class="form-label">Certified Correct: </label>
                        {{form.arequest_equipment_certifiedcorrect}}
                    </div>

                    
                    <div class="col-12">
                        <button id="submit" style="float: right;" type="submit" class="btn btn-primary">Withdraw</button>
                    </div>
                    <!-- <div class="col-12">
                        <button onclick="create()" type="submit" class="btn btn-primary">Create QR</button>
                    </div> -->
                </form>
                
                <div class="row" style="padding-left: 12px; padding-top: 10px;">
                    <button class="btn1" id="createBtn" onclick="create()" >Create QR</button>
                </div>
                
            </div>
    </div>
    <br><br>

    <div class="container" style="text-align: center; color: rgb(0, 0, 0);">
        <p><h4><i style="color: rgb(0, 0, 0);">--- QR will appear below ---</i></h4></p>
        <p><small><i style="color: rgb(0, 0, 0);">To save the QR, kindly right click on the image and click 'Save image'</i></small></p>
    </div>

    <div class="box-2">
        <div class="border">
            <div id="qrimage"></div>
        </div>
    </div>
<br>



    
</section>

<script type="text/javascript">

    function create() {
        var data = 
            'Property No: ' +
            document.getElementById("propertyNo").value + ' ' +
            'Issued to: ' +
            document.getElementById("issuedTo").value + '\n' +
            'Item name: ' +
            document.getElementById("itemname").value + '\n' +
            'Description: ' +
            document.getElementById("description").value + '\n' +
            'Brand: ' +
            document.getElementById("brand").value + '\n' +
            'Quantity: ' +
            document.getElementById("quantity").value + '\n' +
            // 'Remaining: ' +
            // document.getElementById("remaining").value + '\n' +
            // 'Status: ' +
            // document.getElementById("status").value + '\n' +
            'Year Acquired: ' +
            document.getElementById("yrAcquired").value + '\n' +
            'Serial No: ' +
            document.getElementById("serialNo").value + '\n' +
            'Model No: ' +
            document.getElementById("modelNo").value + '\n' +
            'Certified Correct: ' + 
            document.getElementById("certified").value + '\n' +
            'Date & Time: ' +
            document.getElementById("datetime").value
            ;

            if( document.getElementById('propertyNo').value === '' || document.getElementById('issuedTo').value === ''
            || document.getElementById('yrAcquired').value === '' || document.getElementById('serialNo').value === '' 
            || document.getElementById('modelNo').value === '' || document.getElementById('certified').value === ''){
                alert('Some fields are empty. Please enter details to generate QR code.');
            } else {
                document.getElementById("qrimage").innerHTML = "<img src='https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=" + encodeURIComponent(data) + "'/>";
            }
            
    }


</script>



{% endblock %}