{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Withdraw Equipment </title>
<link rel="stylesheet" href="{% static 'css/edit-request-supply.css' %}">

<style>
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    .form-holder{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 32px 25px;
        height: inherit;
        
    }
</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Withdraw Equipment</h2></label>
            </div>
        </div>
    </nav>

    <br><br><br><br><br>
    <div class="container">
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Withdraw Equipment</h3>
                        <form action = "" method = "POST">
                            {% csrf_token %}
                            
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Departement: </label>
                                    {{form.arequest_equipment_department}}
                                </div>
                                <div class="form-group">
                                    <label>Item Name: </label>
                                    {{form.arequest_equipment_itemname}}
                                </div>
                                <div class="form-group">
                                    <label>Description: </label>
                                    {{form.arequest_equipment_description}}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label>Brand: </label>
                                    {{form.arequest_equipment_brand}}
                                </div>
                                <div class="form-group">
                                    <label>Quantity: </label>
                                    {{form.arequest_equipment_quantity}}
                                </div>
                                <div class="form-group">
                                    <label>Remaining: </label>
                                    {{form.arequest_equipment_remaining}}
                                </div>
                                <div class="form-group">
                                    <label>Status: </label>
                                    {{form.arequest_equipment_status}}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label>Year Acquired: </label>
                                    {{form.arequest_equipment_yearacquired}}
                                </div>
                                <div class="form-group">
                                    <label>Issued to: </label>
                                    {{form.arequest_equipment_issued_to}}
                                </div>
                                <div class="form-group">
                                    <label>Model No: </label>
                                    {{form.arequest_equipment_model_no}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Serial No: </label>
                                    {{form.arequest_equipment_serial_no}}
                                </div>
                                <div class="form-group">
                                    <label>Certified Correct: </label>
                                    {{form.arequest_equipment_certifiedcorrect}}
                                </div>
                                <div class="form-group">
                                    <label>Date and Time: </label>
                                    {{form.current_date}}
                                </div>
                                
                            </div>


                            <div class="form-button mt-3">
                                <button id="submit" type="submit" id="btn1" class="btn">CREATE QR</button>
                            </div>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" id="btn1" class="btn">WITHDRAW</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    
</section>



{% endblock %}