{% extends 'task/home.html' %}
{% load static %}

{% block content %}
<title>Add Department Account</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/dept-register.css' %}">

<style>
    .content {
        max-width: 80%;
        margin: auto;
    }

    .column{
        padding-top: 2em;
    }

    img{
        height: 100%;
        width: 100%;
    }

    #checkbox{
        padding-top: 10px;
        padding-left: 45px;
    }

</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;">
                    <h3>Add Department Account</h3>
                </label>
            </div>
        </div>

        <div class="">
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="links_name">Supply admin</span>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Add Department Account</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
               
            </ul> 
        </div>
    </nav>


    <div class="container home-content content">

        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="container" align="center">
                        <img src="{% static 'img/add-user.svg' %}" alt="add-user" >
                    </div>
                </div>
                <div class="column">
                    <form action="#" method="post" class="" id="">
                        <h4 class="title">Department User <br>Registration</h4>
    
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" id="" name="" placeholder="Username" required/>
                        </div>
                        <div class="input-field">
                            <i class="input-icon fa fa-users"></i>
                            <input type="text" id="" name="" placeholder="Department" required/>
                        </div>
                        
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" id="regpass" name="" placeholder="Password" required/>
                        </div>
                        <div class="container" id="checkbox">
                            <input type="checkbox" onclick="myFunction()" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Show password</label>
                        </div>
                            
                        <br>
                        <input type="submit" class="btn" value="Register">
                            
                    </form>
                </div>
            </div>
        </div>


    </div>

    <script type="text/javascript">
		function myFunction() {
			var x = document.getElementById("regpass");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>
        





</section>


{% endblock %}