{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Accept Request Supply </title>
<link rel="stylesheet" href="{% static 'css/edit-supply-delivery.css' %}">

<style>

    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
  
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

</style>

<div class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Accept Request Supplies</h2></label>
            </div>
        </div>
    </nav>

    <br><br>
    <div class="container">
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Accept Request Supply</h3>
                        <form action = "" method = "POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Department: </label>
                                    {{form.request_supply_department}}
                                </div>
                                <div class="form-group">
                                    <label>Description: </label>
                                    {{form.request_supply_description}}
                                </div>
                                <div class="form-group">
                                    <label>Unit: </label>
                                    {{form.request_supply_unit}}
                                </div>
                            </div>
  

                            <div class="form-row">
                                <div class="form-group">
                                    <label>Mainstorage Quantity: </label>
                                    {{form.request_supply_mainstoragequantity}}
                                </div> 
                                <div class="form-group">
                                    <label>Request Quantity: </label>
                                    {{form.request_supply_quantity}}
                                </div>

                                <div class="form-group">
                                    <label>Accept Quantity: </label>
                                    {{form.request_supply_acceptquantity}}
                                </div>     
                            </div>

                            <div class="form-button mt-3">
                                <button style="float: right;" id="submit" type="submit" id="btn1" class="btn">Accept Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>


{% for message in messages %}
{% if message.tags == 'info' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Notice: ", m, "info")
    </script>
    {% elif message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    var m = "{{ message }}";
    swal("Success! ", m, "success")
    </script>
{% endif %}
{% endfor %}

{% endblock %}