{% extends 'task/dep-request-supply.html' %}
{% load static %}


{% block content %}

<title> Request Equipment </title>
<link rel="stylesheet" href="{% static 'css/edit-supply-delivery.css' %}">

<style>
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }



</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2> Request Equipment </h2></label>
            </div>
        </div>
    </nav>


    <div class="home-content container">
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h5> Equipment Request </h5>
                        <form action = "" method = "POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Item name: </label>
                                    {{form.ItemName}}
                                </div>
                                <div class="form-group">
                                    <label>Description: </label>
                                    {{form.Description}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Brand: </label>
                                    {{form.Brand}}
                                </div>
                                <div class="form-group">
                                    <label>Quantity: </label>
                                    {{form.Quantity}}
                                </div>  
                                <div class="form-group">
                                    <label>Request Quantity: </label>
                                    {{form.RequestQuantity}}
                                </div>
                            </div>
                            <br>

                            <div class="form-button">
                                <input type="submit" class="btn" style="float: right;" value="REQUEST">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>



{% endblock %}