{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Accept Request Equipment </title>
<link rel="stylesheet" href="{% static 'css/edit-supply-delivery.css' %}">

<style>
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
  
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    .form-holder{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 32px 25px;
    width: 45em;
    position: absolute;
    top: 7em;
    left: 12em;
    background: whitesmoke;
}
</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Accept Request Equipment</h2></label>
            </div>
        </div>
    </nav>

    <br><br><br><br><br>
    <div class="container">
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Accept Request Equipment</h3>
                        <form action = "" method = "POST">
                            {% csrf_token %}
                            
                                <div class="form-row">
                                    <div class="form-group">
                                        <label>Item Name: </label>
                                        {{form.request_equipment_itemname}}
                                    </div>
                                    <div class="form-group">
                                        <label>Description: </label>
                                        {{form.request_equipment_description}}
                                    </div>
                                    <div class="form-group">
                                        <label>Brand: </label>
                                        {{form.request_equipment_brand}}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group">
                                        <label>Quantity: </label>
                                        {{form.request_equipment_quantity}}
                                    </div>
                                    <div class="form-group">
                                        <label>Department: <label>
                                        {{form.request_equipment_department}}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group">
                                        <label>Date: </label>
                                        {{form.current_date}}
                                    </div>
                                    <div class="form-group">
                                        <label>Accept Quantity: <label>
                                        {{form.request_equipment_mainstoragequantity}}
                                    </div>
                                </div>

                            <div class="form-button mt-3">
                                <button style="float: right;" id="submit" type="submit" id="btn1" class="btn">Accept</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>

<br><br>
<br>

{% endblock %}