{% extends 'task/supplies-delivery.html' %}
{% load static %}



{% block content %}

<title> Equipment Return </title>
<link rel="stylesheet" href="{% static 'css/supply-delivery.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>


<style>
    #returnequipment {
        color: white;
        background-color: #c0d2e4;
        border: 2px solid #0a0a0a;
        padding: 10px;
        height: 200px;
        width: 400px;
    }

    h3 {
        color: rgb(0, 0, 0);
    }

    h5 {
        color: rgb(0, 0, 0);
    }

    textarea {
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 10px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
</style>

<section class="home-section">
    <nav class="nav">
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;">
                    <h2>Equipment Return</h2>
                </label>
            </div>
        </div>
    </nav>

    <div class="home-content" align="center" id="scanning">
        <div class="container">
            <br>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <a type="button" href="#scanning" class="btn btn-outline-secondary">Scanning QR</a>
                <a type="button" href="#table" class="btn btn-outline-secondary">Returned Equipment Record</a>
            </div>

        </div>

        <div style="margin: auto;"><br><br>
            <label style="text-align: center;">
                <h3>Scanning QR</h3>
            </label>
        </div>
        <div style="margin: auto;">
            <label style="text-align: center;">
                <h5>INFO</h5>
            </label>
        </div>
        <br>
        <div class="container">
            <a onclick="window.location.reload()"
                style="text-decoration: underline; font-style: italic; cursor: pointer;">
                <i class="fa-solid fa-arrows-rotate" style="text-decoration: underline; font-style: italic;">
                </i> reload
            </a>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <textarea required rows="6" cols="60" name="returnequipment" id="propertyNum"
                onchange="disableFunction()"></textarea>
            <br>
            <input type="hidden" name="property" id="property" readonly>
            <span><button onclick="getVal();" id="" type="submit" class="btn btn-secondary">Return</button></span>
        </form>
        <br>
    </div>

    <div class="container home-content btn1-group" style=" width: 98%;">
        <form action="{% url 'export_pdf_equipreturn'%}">
            <button class="fa fa-file-pdf-o right" style="font-size:13px;color:rgb(255, 255, 255)"> Save Data As
                PDF</button>
        </form>
        <form action="{% url 'export_excel'%}">
            <button class="fa fa-file-excel-o right" style="font-size:13px;color:rgb(255, 255, 255)"> Export Data To
                Excel</button>
        </form>
    </div>
    <br>
    <div class="container" style=" width: 98%;" id="table">
        <div class="kahon">
            <!-- Datatable -->
            <table id="returnTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align: center;">Property No.</th>
                        <th style="text-align: center;">Item Name</th>
                        <th style="text-align: center;">Description</th>
                        <th style="text-align: center;">Brand</th>
                        <th style="text-align: center;">Year Acquired</th>
                        <th style="text-align: center;">Issued To</th>
                        <th style="text-align: center;">Model No.</th>
                        <th style="text-align: center;">Serial No.</th>
                        <th style="text-align: center;">Certified Correct</th>
                        <th style="text-align: center;">Date Return</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in info %}
                    <tr class="edittr">
                        <td align="center">{{x.return_equipment_property_no}}</td>
                        <td align="center">{{x.return_equipment_itemname}}</td>
                        <td align="center">{{x.return_equipment_description}}</td>
                        <td align="center">{{x.return_equipment_brand}}</td>
                        <td align="center">{{x.return_equipment_yearacquired}}</td>
                        <td align="center">{{x.return_equipment_issued_to}}</td>
                        <td align="center">{{x.return_equipment_model_no}}</td>
                        <td align="center">{{x.return_equipment_serial_no}}</td>
                        <td align="center">{{x.return_equipment_certifiedcorrect}}</td>
                        <td align="center">{{x.return_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <br><br>

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    {% for message in messages %}
        {% if message.tags == 'info' %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var m = "{{ message }}";
            swal("Notice: ", m, "info")
        </script>
        {% elif message.tags == 'success' %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var m = "{{ message }}";
            swal("Success! ", m, "success")
        </script>
        {% endif %}
    {% endfor %}

    <script>
        $(document).ready(function () {
            var table = $('#returnTable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true
            });
        });

        function getVal() {

            if (document.getElementById('propertyNum').value == '') {
                alert('Please scan a qr first before returning.');
            } else {
                var x = document.getElementById('propertyNum').value;
                var word = x.split(' ');
                var property = document.getElementById('propertyNum').innerHTML = word[2];
                document.getElementById('property').value = property
            }

        }

        function disableFunction() {
            document.getElementById("propertyNum").disabled = true;
        }
    </script>

    {% endblock %}