{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Equipments Delivery </title>



<style type="text/css">
    
    img {
        border: 0;
    }

    #main {
        margin: 15px auto;
        color: rgb(37, 24, 24);
        overflow: auto;
        width: 100%;
    }

    #header {  
        margin-bottom: 10px;
    }

    #mainbody {
        
        width: 100%;
        display: none;
    }

    #v {
        width: 320px;
        height: 240px;
    }


    #qr-canvas {
        display: none;
    }

    #qrfile {
        width: 230px;
        height: 170px;
    }

    #mp1 {
        padding-top: 70px;
        cursor: default;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: white;
    }

    #imghelp {
        position: relative;
        left: 0px;
        top: -160px;
        z-index: 100;
        font: 18px arial, sans-serif;
        background: #f0f0f0;
        margin-left: 35px;
        margin-right: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
    }

    .selector {
        margin: 0;
        padding: 0;
        cursor: pointer;
        margin-bottom: 5px;
    }


    #outdiv {
        width: 230px;
        height: 170px;
        border: solid;
        border-width: 3px 3px 3px 3px;
        margin: 0 auto;
    }

    #result {
        color: white;
        background-color: #151617;
        border: 2px solid #ffbb38;
        padding: 20px;
        width: 70%;
    }

    .navQR{
        top: 15em;
        left: 20em;
        text-align: center;
        justify-content: center;
    }
    

    .navQR ul {
        margin-bottom: 0;
        margin-right: 40px;
    }

    .navQR ul li {
        display: inline;
        padding-right: 0.5em;
        padding-left: 0.5em;
        justify-items: center;
        font-weight: bold;
        border-right: 1px solid white;
    }

    .navQR li a {
        text-decoration: none;
        color: white;
        text-align: center;
    }

    .navQR li a:hover {
        text-decoration: none;
        color: #ffbb38;
        text-align: center;
    }

    .content {
        max-width: 500px;
        margin: auto;
    }
    .tsel {
        padding: 0;
    }

</style>

<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>



<div class="container home-content">
    <div class="position-relative" style="padding-top: 30px; padding-bottom: 20px;">
        <div class="position-absolute bottom-0 end-0" >
            <form action="{% url 'inventorysystem-addEquipment'%}">
                <button type="button" class="btn btn-text-right btn-outline-primary">New Equipment Item</button>
            </form>
        </div>
    </div>
<div>
<br>
<br>
<div class="container">
    <div class="row">
        <div style="margin: 0 auto;" align="center">
            <label><h3>Scanning QR</h3></label>
        </div>
    </div> 
    <!-- QR UI -->
    <div class="row" style="width: 40px; margin: 0 auto; padding-bottom: 3px;">
        <img class="selector" id="qrimg" src="{% static 'img/cam.png' %}" onclick="setimg()" />
    </div>
    <!-- Where cam will appear-->
    <div class="row">
        <div id="outdiv"></div>
    </div>
</div>

<div class="container">
<!-- Data section where infos will be displayed once scanned -->
    <div class="row" align="center" style="padding-top: 10px; padding-bottom: 10px;">
        <img style="height: 20px; width: 20px;" src="{% static 'img/arrow-down.png' %}" />
    </div>

    <div class= "row">
        <div align="center" style="padding-top: 10px; padding-bottom: 5px;">
            <div id="result" style="height: 7em; width: 30em;"></div>
            <br>
            <div class="content input-group mb-1" style="min-width: 30px;">
                <span class="input-group-text" id="inputGroup-sizing-default">Description:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="content input-group mb-1" style="min-width: 10px;">
                <span class="input-group-text" id="inputGroup-sizing-default">Brand:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <div class="" style="padding-left: 20px;">
                    <form action="">
                        <button type="button" class="btn btn-outline-primary">Save Data As PDF</button>
                    </form>
                </div>  
            </div>
            <div class="content input-group mb-1" style="min-width: 10px;">
                <span class="input-group-text" id="inputGroup-sizing-default">Quantity:</span>
                <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <div class="" style="padding-left: 20px;">
                    <form action="">
                        <button type="button" class="btn btn-outline-primary">Export Data to Excel</button>
                    </form>
                </div>  
            </div>
            <br>
                <form action="">
                    <button type="button" class="btn btn-outline-primary">Deliver Item</button>
                </form>         
    </div>

<br>
<!--table-->
    <div style="margin: auto; width: 95%;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Date & Time</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">Bondpaper</th>
                        <td>Long</td>
                        <td>One</td>
                        <td>Ream</td>
                        <td>10</td>
                        <td> -- </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>


<canvas id="qr-canvas" width="800" height="600"></canvas>
<script type="text/javascript">
    load();
</script>


{% endblock %}
