{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Equipment Return </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href=https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<style>
    #result {
        color: white;
        background-color: #c0d2e4;
        border: 2px solid #0a0a0a;
        padding: 20px;
    }
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer;
        white-space: nowrap;
        transition: 0.3s;
        text-transform: uppercase;
        display: inline-block;

    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    div.kahon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: whitesmoke;
    padding: 32px 25px;
    height: inherit;
}
</style>
<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Equipment Return</h2></label>
            </div>
        </div>
    </nav>


<div class="home-content" align="center">
    <div style="margin: auto;"><br>
        <label style="text-align: center;"><h3>Scanning QR</h3></label>
    </div>
    <div style="margin: auto;">
        <label style="text-align: center;"><h5>INFO</h5></label>
    </div>
    <table class="tsel" border="0" width="100%">
        <br>
        <!-- Where cam will appear-->
        <tr>
            <div id="result" style="height: 14em; width: 20em;"></div>
        </tr>
    </table>
    <br>
    <span><button id="btn1" type="button" class="btn">Return</button></span>
</div>

<br><br>
<div class="container" style=" width: 98%;">
<div class="kahon">
    <!-- Datatable --> 
    <table id="returnTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Property No.</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Year Acquired</th>
                <th>Issued To</th>
                <th>Model No.</th>
                <th>Serial Number</th>
                <th>Certified Correct</th>
                <th>Date Return</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Marker</td>
                <td>Black Whiteboard Marker</td>
                <td>Artline</td>
                <td>Box</td>
                <td>45</td>
                <td>ADAA</td>
                <td>--</td>
                <td>Pending</td>
                <td>--</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Marker1</td>
                <td>Black Whiteboard Marker</td>
                <td>Artline</td>
                <td>Box</td>
                <td>45</td>
                <td>ADAA</td>
                <td>--</td>
                <td>Pending</td>
                <td>--</td>
                <td>Pending</td>
            </tr>
        </tbody>
    </table>
</div>
    
</div>
              
<br><br>
<script>
    $(document).ready(function() {
                var table = $('#returnTable').DataTable( {
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    responsive: true
                } );
            } );

</script>
{% endblock %}
