{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Equipment Delivery </title>
<link rel="stylesheet" href="{% static 'css/new.css' %}">
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<style>
.btn1{
    background-color: #ad413a;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 

}

.col-md-4 input{
    border: solid #3E3E3E 1.5px;
}

.col-md-2 input{
    border: solid #3E3E3E 1.5px;
}

.col-md-12 input{
    border: solid #3E3E3E 1.5px;
}


.col-md-6 input{
    border: solid #3E3E3E 1.5px;
}

.btn1:hover {
    text-decoration: none;
    background: #9c2e26;
    color: white;
}

.btn1-group button {
    background-color: #ad413a;
    border: 1px solid black;
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    float: right; 
    border-radius: 5px;
}


.btn1-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn1-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn1-group button:hover {
    background-color: #4d0d09;
}
</style>



<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Equipment Delivery</h2></label>
            </div>
        </div>
    </nav>

<div class="container home-content">

    
    <div class="container">
        <div class="kahon">
            <h3 align="center">Mainstorage</h3>
            <hr>
            <br>
            <table id="equipMainstorage" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align: center;">Item Name</th>
                        <th style="text-align: center;">Description</th>
                        <th style="text-align: center;">Brand</th>
                        <th style="text-align: center;">Quantity</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in info %}
                        <tr class="edittr">
                            <td align="center">{{x.ItemName}}</td>
                            <td align="center">{{x.Description}}</td>
                            <td align="center">{{x.Brand}}</td>
                            <td align="center">{{x.Quantity}}</td>
                            <td align="center"><a class="btn btn-success" href="{% url 'inventorysystem-updateEquipmentDeliver' x.equipmentmainstorage_id %}">UPDATE</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>


    <br><br>
    <div class="container">
        <div class="kahon">
            <h3>Deliver New Equipment</h3>
            <br>
            <form class="row g-3" action="" method="POST">
                {% csrf_token %}
                <div class="col-md-6">
                    <label class="form-label">Item Name: </label>
                    {{form.delivery_equipment_itemname}}
                    <datalist id="deliveryItemname">
                        <option id="1" value="Printer"></option>
                        <option id="2" value="Aircon"></option>
                        <option id="3" value="Electric fan"></option>
                    </datalist> 
                </div>
                <div class="col-md-6">
                    <label class="form-label">Brand: </label>
                    {{form.delivery_equipment_brand}}
                    <datalist id="deliveryBrand">
                        <option id="1" value="HP"></option>
                    </datalist> 
                </div>   
                
                <div class="col-md-6">
                    <label class="form-label">Description: </label>
                    {{form.delivery_equipment_description}}
                </div>
                <div class="col-md-6">
                    <label class="form-label">Quantity: </label>
                    {{form.delivery_equipment_quantity}}
                </div>
                <div class="col-12">
                    <button type="submit" id="submit" class="btn1" style="float: right;" value="Submit"> Submit </button>
                </div>
            </form>   
        </div>     
    </div>

    <div align="right" class= "container home-content btn1-group" style="margin: auto;" >
        <form action="">
            <button class="fa fa-file-pdf-o" 
                style="font-size:13px;color:rgb(255, 255, 255)"> Save Data As PDF</button>
        </form>
        <form action="{% url 'export_excel'%}">
            <button class="fa fa-file-excel-o" 
                style="font-size:13px;color:rgb(255, 255, 255)"> Export Data To Excel</button>
        </form>
    </div>
<br><br>

        
          <div class="container">
            <div class="kahon">
                <h3 align="center">Delivery Record</h3>
                <hr>
                <br>
                <table id="equipmentDeliveryTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Item Name</th>
                            <th style="text-align: center;">Description</th>
                            <th style="text-align: center;">Brand</th>
                            <th style="text-align: center;">Quantity</th>
                            <th style="text-align: center;">Remaining</th>
                            <th style="text-align: center;">Date & Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in info1 %}
                            <tr class="edittr">
                                <td align="center">{{x.delivery_equipment_itemname}}</td>
                                <td align="center">{{x.delivery_equipment_description}}</td>
                                <td align="center">{{x.delivery_equipment_brand}}</td>
                                <td align="center">{{x.delivery_equipment_quantity}}</td>
                                <td align="center">{{x.delivery_equipment_remaining}}</td>
                                <td align="center">{{x.current_date}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>


    <br><br>



        {% for message in messages %}
            {% if message.tags == 'info' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    var m = "{{ message }}";
                    swal("Notice: ", m, "info")
                </script>
                {% elif message.tags == 'success' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                var m = "{{ message }}";
                swal("Success! ", m, "success")
                </script>
            {% endif %}
        {% endfor %}


        <script>
            $(document).ready(function() {
                var table = $('#equipmentDeliveryTable').DataTable( {
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    responsive: true
                } );
            } );

            $(document).ready(function() {
                var table = $('#equipMainstorage').DataTable( {
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    responsive: true
                } );
            } );
            
        </script>

        <!--
        <script type="text/javascript">
            function setZero() {
                    var td = document.getElementById('quantity');
                    var num = document.createTextNode('0');
                    td.appendChild(num);
                }
        </script> -->

    </div>

</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>


{% endblock %}
