{% extends 'task/dashboard.html' %}
{% load static %}



{% block content %}

<title>Create ARE Form</title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/63519495ef.js" crossorigin="anonymous"></script>


<style>
    .btn1 {
        background-color: #ad413a;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        text-decoration: none;

    }

    .col-md-12 input {
        border: solid #3E3E3E 1.5px;
    }


    .col-md-6 input {
        border: solid #3E3E3E 1.5px;
    }

    .btn1:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    .btn1-group button {
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        float: right;
        border-radius: 5px;
    }


    .btn1-group button:not(:last-child) {
        border-right: none;
        /* Prevent double borders */
    }

    /* Clear floats (clearfix hack) */
    .btn1-group:after {
        content: "";
        clear: both;
        display: table;
    }

    /* Add a background color on hover */
    .btn1-group button:hover {
        background-color: #4d0d09;
    }

    .kahon {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        background: rgb(255, 255, 255);
        padding: 32px 25px;

    }

    hr {
        border: 1px solid;
        background-color: black;
        border-radius: 5px;
    }
</style>


<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!---------------------------- Main Content ----------------------------------->

    <div id="content" class="main-content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-dark topnav topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>


            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-100 small">Welcome, {{label.username}}!</span>
                        <span class="mr-2 d-none d-lg-inline text-gray-100 small"></span>
                        <img class="img-profile rounded-circle"
                            src="{% static 'img/sb-dashboard/undraw_profile.svg' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'inventorysystem-adminProfileUpdate' %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Update Profile
                        </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{% url 'inventorysystem-logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <!----------------------------------- Begin Page Content ----------------------------->


        <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">
                <div class="col-xl-12 col-md-12 mb-4">
                    <div class="container">
                        <div class="kahon">
                            <h3>Create ARE Form</h3>
                            <br>
                            <form class="row g-3" action="" method="POST">
                                {% csrf_token %}
                                
                                <div class="col-md-6">
                                    <label class="form-label">Date: </label>
                                    {{form.current_date}}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Department: </label>
                                    {{form.areform_inputs_department}}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">No: </label>
                                    {{form.areform_inputs_no}}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Supplied by: </label><br>
                                    {{form.areform_inputs_suppliedby}}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">P.O. No.: </label>
                                    {{form.areform_inputs_pono}}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Invoice No: </label>
                                    {{form.areform_inputs_invoiceno}}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Received from: </label>
                                    {{form.areform_inputs_receivedfrom}}
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Received By: </label>
                                    {{form.areform_inputs_receivedby}}
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Total Amount: </label>
                                    {{form.areform_inputs_totalamount}}
                                </div>

                                <div class="col-12">
                                    <p><i style="color: red;"><b>**Note: </b>Kindly double check the informations before submitting.</i></p>   
                                </div>

                                <div class="col-12">
                                    <button style="float: right; width: 15%;" type="submit" id="submit" class="btn btn-primary" name="save_inputs" value="Submit"> Save </button>
                                </div>
                            </form>

                            <div class="row">
                                <div  class="col-12">
                                    <form action="{% url 'export_pdf_equipment_arecreateform'%}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" id="currentDate" value="" name="currentDate">
                                        <input type="hidden" id="dept" value="" name="dept">
                                        <button type="submit" id="submit" class="btn btn-secondary" name="create_form"
                                        style="float: right; margin-top: 10px; width: 15%;" value="Submit" onclick="getValue()"> Create Form </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <br><br>

        </div>
        <!-- /.container-fluid -->

        <script type="text/javascript">
            document.getElementById('date').value = localStorage.getItem("storageName3");
            document.getElementById('department').value = localStorage.getItem("storageName4");
            window.onload = document.getElementById('date').value;
            window.onload = document.getElementById('department').value;

            function getValue() {
            var x = document.getElementById('date').value;
            document.getElementById('currentDate').value = x;

            var y = document.getElementById('department').value;
            document.getElementById('dept').value = y;
            }
        </script>

    </div>
    <!-- End of Main Content -->

    {% for message in messages %}
    {% if message.tags == 'info' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Notice: ", m, "info")
    </script>
    {% elif message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Success! ", m, "success")
    </script>
    {% endif %}
    {% endfor %}



    <!------------------------------------ Footer ------------------------------------->
    <footer class="sticky-footer footer ">
        <div class="container my-auto">
            <div class="copyright text-gray-700 text-center my-auto">
                <span>Copyright &copy; <strong><span>COET-4A 2022-2023</span></strong>. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


{% endblock %}