{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Equipment Withdraw </title>
<link rel="stylesheet" href="{% static 'css/supply-delivery.css' %}">
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>




<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;">
                    <h2>Equipment Withdraw</h2>
                </label>
            </div>
        </div>
    </nav>
    <div class="home-content">
        <br>
        <div class="container" align="center">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <a type="button" href="#requests" class="btn btn-outline-secondary">Requests</a>
                <a type="button" href="#withdrawRecord" class="btn btn-outline-secondary">Withdraw Record</a>
            </div>

        </div>

        <!-- Datatable -->
        <br>
        <div class="container" style="width: 98%;" id="requests">
            <div class="kahon">
                <h3 align="center">Requests</h3>
                <hr>
                <br>
                <table id="equipRequestTable" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Department</th>
                            <th style="text-align: center;">Item Name</th>
                            <th style="text-align: center;">Description</th>
                            <th style="text-align: center;">Brand</th>
                            <th style="text-align: center;">Requested Quantity</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in info %}
                        <tr class="edittr">
                            <td align="center">{{x.arequest_equipment_issued_to}}</td>
                            <td align="center">{{x.arequest_equipment_itemname}}</td>
                            <td align="center">{{x.arequest_equipment_description}}</td>
                            <td align="center">{{x.arequest_equipment_brand}}</td>
                            <td align="center">{{x.arequest_equipment_quantity}}</td>
                            <td align="center"><a class="btn btn-success"
                                    href="{% url 'inventorysystem-createqrequipmentWithraw' x.acceptEquipmentRequests_id %}">WITHDRAW</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="container home-content btn1-group" id="withdrawRecord" style="width: 98%;">
        <form action="{% url 'export_pdf_equipwithdraw'%}">
            <button class="fa fa-file-pdf-o right" style="font-size:13px;color:rgb(255, 255, 255)"> Save Data As
                PDF</button>
        </form>
        <form action="{% url 'export_excel'%}">
            <button class="fa fa-file-excel-o right" style="font-size:13px;color:rgb(255, 255, 255)"> Export Data To
                Excel</button>
        </form>
    </div>
    <br>
    <!-- Datatable -->
    <div class="container" style="width: 98%;">
        <div class="kahon">
            <h3 align="center">Withdraw Record</h3>
            <hr>
            <br>
            <table id="equipWithdrawTable" class="stripe cell-border hover" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align: center;">Property No.</th>
                        <th style="text-align: center;">Item Name</th>
                        <th style="text-align: center;">Description</th>
                        <th style="text-align: center;">Brand</th>
                        <th style="text-align: center;">Year Acquired</th>
                        <th style="text-align: center;">Issued To</th>
                        <th style="text-align: center;">Model No.</th>
                        <th style="text-align: center;">Serial No.</th>
                        <th style="text-align: center;">Certified Correct</th>
                        <th style="text-align: center;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in info1 %}
                    <tr class="edittr">
                        <td align="center">{{x.withdraw_equipment_property_no}}</td>
                        <td align="center">{{x.withdraw_equipment_itemname}}</td>
                        <td align="center">{{x.withdraw_equipment_description}}</td>
                        <td align="center">{{x.withdraw_equipment_brand}}</td>
                        <td align="center">{{x.withdraw_equipment_yearacquired}}</td>
                        <td align="center">{{x.withdraw_equipment_issued_to}}</td>
                        <td align="center">{{x.withdraw_equipment_model_no}}</td>
                        <td align="center">{{x.withdraw_equipment_serial_no}}</td>
                        <td align="center">{{x.withdraw_equipment_certifiedcorrect}}</td>
                        <td align="center">{{x.withdraw_equipment_status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <br><br>

    <div class="container" id="html-content-holder" align="center" style="padding-top: 10px;">
        <div id="result" class="container" align="center"></div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            var table = $('#equipRequestTable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true
            });
        });

        $(document).ready(function () {
            var table = $('#equipWithdrawTable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true
            });
        });
    </script>


    {% endblock %}