{% extends 'task/dashboard.html' %}
{% load static %}



{% block content %}

<title> Equipment Delivery </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<style>
    .kahon {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        background: rgb(255, 255, 255);
        padding: 32px 25px;

    }

    hr {
        border: 1px solid;
        background-color: black;
        border-radius: 5px;
    }
</style>

<div id="content-wrapper" class="d-flex flex-column">

    <!---------------------------- Main Content ----------------------------------->

    <div id="content" class="main-content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-dark topnav topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>


            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-100 small">Welcome, {{label.username}}!</span>
                        <span class="mr-2 d-none d-lg-inline text-gray-100 small"></span>
                        <img class="img-profile rounded-circle"
                            src="{% static 'img/sb-dashboard/undraw_profile.svg' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'inventorysystem-adminProfileUpdate' %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Update Profile
                        </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{% url 'inventorysystem-logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <!----------------------------------- Begin Page Content ----------------------------->


        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="container">
                    <div class="container" style="margin-bottom: 0;">
                        <div class="container" style="margin-bottom: 0;">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-900">Equipments Delivery</h1>
                                <div class="btn-group btn-group-sm" role="group">
                                    <a type="button" href="{% url 'inventorysystem-viewDeliveryRecords' %}"
                                        class="btn btn-primary">Delivery Record</a>
                                    <a type="button" href="{% url 'inventorysystem-equipmentWithdraw' %}"
                                        class="btn btn-primary">Withdraw
                                        Request</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- ----------------- Content Row -----------------
            <div class="row">

                <div class="col-xl-12 col-md-12 mb-4">
                    <div class="container">
                        <div class="kahon">
                            <h3 align="center">Mainstorage</h3>
                            <hr>
                            <br>
                            <table id="equipMainstorage" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Delivery No.</th>
                                        <th style="text-align: center;">Item Name</th>
                                        <th style="text-align: center;">Description</th>
                                        <th style="text-align: center;">Brand</th>
                                        <th style="text-align: center;">Mainstorage Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in info %}
                                    <tr class="edittr">
                                        <td align="center">{{x.equipmentmainstorage_id}}</td>
                                        <td align="center">{{x.equipmentmainstorage_itemName}}</td>
                                        <td align="center">{{x.equipmentmainstorage_description}}</td>
                                        <td align="center">{{x.equipmentmainstorage_brand}}</td>
                                        <td align="center">{{x.equipmentmainstorage_quantity}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div> -->



            <!------------------- Content Row ------------------->
            <div class="row">

                <div class="col-xl-12 col-md-12 mb-4">
                    <div class="container">
                        <div class="kahon">
                            <h3 align="center">Requests</h3>
                            <hr>
                            <br>
                            <table id="equipDeliveryTable" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Request No.</th>
                                        <th style="text-align: center;">Department</th>
                                        <th style="text-align: center;">Item Name</th>
                                        <th style="text-align: center;">Description</th>
                                        <th style="text-align: center;">Request Quantity</th>
                                        <th style="text-align: center;">Unit Cost</th>
                                        <th style="text-align: center;">Inventory Item No.</th>
                                        <th style="text-align: center;">Unit</th>
                                        <th style="text-align: center;">Date Requested</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in info2 %}
                                    <tr class="edittr">
                                        <td>{{x.requestequipment_id}}</td>
                                        <td align="center">{{x.request_equipment_department}}</td>
                                        <td align="center">{{x.request_equipment_itemname}}</td>
                                        <td align="center">{{x.request_equipment_description}}</td>
                                        <td align="center">{{x.request_equipment_quantity}}</td>
                                        <td align="center">{{x.request_equipment_unitcost}}</td>
                                        <td align="center">{{x.request_equipment_iin}}</td>
                                        <td align="center">{{x.request_equipment_unit}}</td>
                                        <td align="center">{{x.request_equipment_daterequested}}</td>
                                        <td>
                                            <button class="btn btn-success editBtn1"
                                                style="margin-bottom: 10px; font-size: 13px;">DELIVER</button>
                              
                                        </td>
                                    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------- Email Equipment ------------------->
            <div class="row">
                <div class="col-xl-12 col-md-12 mb-4">
                    <div class="container">
                        <div class="kahon">
                            <table id="emailEquipmentTable" class="table table-striped" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Request No.</th>
                                        <th style="text-align: center;">Department</th>
                                        <th style="text-align: center;">Accepted Quantity</th>
                                        <th style="text-align: center;">Date</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in info4 %}
                                    <tr class="edittr">
                                        <td>{{x.emailequipment_id}}</td>
                                        <td align="center">{{x.emailequipment_department}}</td>
                                        <td align="center">{{x.emailequipment_acceptedquantity}}</td>
                                        <td align="center">{{x.current_date}}</td>
                                        <td align="center">
                                            <button class="btn btn-success emailBtn" style="margin-bottom: 10px;"
                                                name="emailBtn">EMAIL</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!------------------------------------ Footer ------------------------------------->
    <footer class="sticky-footer footer ">
        <div class="container my-auto">
            <div class="copyright text-gray-700 text-center my-auto">
                <span>Copyright &copy; <strong><span>COET-4A 2022-2023</span></strong>. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

<br>

   <!----- REQUEST MODAL ----->
<div class="modal fade" id="openModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" id="editId1" name="requestequipment_id" value="" readonly>

                    <div class="col-md-12">
                        <label class="form-label">Department:</label>
                        <input type="text" class="form-control" id="department" name="request_equipment_department"
                            readonly>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Item Name:</label>
                        <input type="text" class="form-control" id="itemname1" name="request_equipment_itemname">
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Requested Quantity:</label>
                        <input type="number" min="1" class="form-control" id="requestquantity"
                            name="request_equipment_quantity" readonly>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Description:</label>
                        <input type="text" class="form-control" id="description1" name="request_equipment_description"
                            required>
                    </div>

                    <div class="col-md-6">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Brand:</label>
                        <input type="text" min="1" class="form-control" id="brand" name="request_equipment_brand"
                            required>
                    </div>

                    <div class="col-md-6">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Accept Quantity:</label>
                        <input type="number" min="1" class="form-control" id="acceptquantity"
                            name="request_equipment_acceptquantity" required>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Unit Cost/Amount:</label>
                        <input type="number" min="1" class="form-control" id="unitcost"
                            name="request_equipment_unitcost">
                    </div>
                    
                    <div class="col-md-6">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Unit:</label>
                        <input type="text" min="1" class="form-control" id="unit" name="request_equipment_unit"
                            required>
                    </div>
                    
                    <div class="col-md-12">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Inventory Item No./ <br> Property No.:</label>
                        <input type="text" min="1" class="form-control" id="iin" name="request_equipment_iin"
                            required>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Date Requested:</label>
                        <input type="text" class="form-control" id="daterequested"
                            name="request_equipment_daterequested" readonly>
                    </div>

                    <div class="modal-footer">
                        <div class="col-12">
                            <button style="float: right;" type="submit" name="delivery_dep"
                                class="btn btn-primary">Accept
                                Request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


$(document).ready(function () {
        var table = $('#equipDeliveryTable').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            select: false,
            "columnDefs": [
                {
                "targets": [5],
                "visible": false,
                },
                {
                "targets": [6],
                "visible": false,
                },
                {
                "targets": [7],
                "visible": false,
                },

                
                
            ]
        });

        $('#equipDeliveryTable').on('click', 'tr', function () {
            $('#openModal1').modal('show');
            $('h5.modal-title').html('Accept Request for: ' + table.row(this).data()[1]);
            $('#editId1').val(table.row(this).data()[0]);
            $('#department').val(table.row(this).data()[1]);
            $('#itemname1').val(table.row(this).data()[2]);
            $('#description1').val(table.row(this).data()[3]);
            $('#requestquantity').val(table.row(this).data()[4]);
            $('#unitcost').val(table.row(this).data()[5]);
            $('#unit').val(table.row(this).data()[6]);
            $('#iin').val(table.row(this).data()[7]);
            $('#daterequested').val(table.row(this).data()[8]);


        });
    });


    // $(document).ready(function () {
    //     $('.editBtn1').on('click', function () {

    //         $('#openModal1').modal('show');
    //         $tr = $(this).closest('tr');
    //         var data = $tr.children("td").map(function () {
    //             return $(this).text();
    //         }).get();

    //         console.log(data);
    //         $('h5.modal-title').html('Accept Request for: ' + data[1]);
    //         $('#editId1').val(data[0]);
    //         $('#department').val(data[1]);
    //         $('#itemname1').val(data[2]);
    //         $('#description1').val(data[3]);
    //         $('#requestquantity').val(data[4]);
    //         $('#unitcost').val(data[5]);
    //         $('#unit').val(data[6]);
    //         $('#iin').val(data[7]);
 
    //     });
    // });

</script>

    <!----- EMAIL MODAL ----->
    <div class="modal fade" id="openModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!----- UPDATE FORM ---->
                <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" id="editId2" name="emailequipment_id" value="" readonly>

                    <div class="col-md-12">
                        <label class="form-label">Department:</label>
                        <input type="text" class="form-control" id="department2" name="email_equipment_department"
                            readonly>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Accepted Quantity:</label>
                        <input type="number" min="1" class="form-control" id="acceptedquantity2"
                            name="email_equipment_quantity" readonly>
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Date Accepted:</label>
                        <input type="text" class="form-control" id="dateaccepted"
                            name="email_equipment_date" readonly>
                    </div>

                    <div class="modal-footer">
                        <div class="col-12">
                            <button type="submit" name="emailBtn1" style="float: right;" class="btn btn-primary">Email</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('.emailBtn').on('click', function () {

            $('#openModal2').modal('show');
            $tr = $(this).closest('tr');
            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();

            console.log(data);
            $('h5.modal-title').html('Email Request for: ' + data[1]);
            $('#editId2').val(data[0]);
            $('#department2').val(data[1]);
            $('#acceptedquantity2').val(data[2]);
            $('#dateaccepted').val(data[3]);
        });
    });

    $(document).ready(function () {
        var table = $('#emailSupplyTable').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });
    });

</script>

    
<br><br>

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <br><br>

    {% for message in messages %}
    {% if message.tags == 'info' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Notice: ", m, "info")
    </script>
    {% elif message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Success! ", m, "success")
    </script>
    {% endif %}
    {% endfor %}


    <script>

        $(document).ready(function () {
            var table = $('#equipMainstorage').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true
            });
        });
        $(document).ready(function () {
            var table = $('#emailEquipmentTable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true
            });
        });

    </script>
</div>


{% endblock %}