{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Equipment Withdraw </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href=https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<style>
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    div.kahon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: whitesmoke;
    padding: 32px 25px;
    height: inherit;
}

    .btn-group button {
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: right; 
    }

    .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: #4d0d09;
    }

</style>
<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Equipment Withdraw</h2></label>     
            </div>
        </div>
    </nav>
<div class="home-content">
    <!-- Datatable --> 
    <div class="container" style="width: 98%;">
        <div class="kahon">
        <h4>Requests</h4>
        <br>
        <table id="equipRequestTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for x in info %}
                <tr>
                    <td>{{x.arequest_equipment_department}}</td>
                    <td>{{x.arequest_equipment_itemname}}</td>
                    <td>{{x.arequest_equipment_description}}</td>
                    <td>{{x.arequest_equipment_brand}}</td>
                    <td>{{x.arequest_equipment_quantity}}</td>
                    <td><a class="btn" href="{% url 'inventorysystem-createqrequipmentWithraw' x.acceptEquipmentRequests_id %}">WITHDRAW</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>


<div class= "container home-content btn-group" >
    <form action="">
        <button class="fa fa-file-pdf-o right" 
            style="font-size:13px;color:rgb(255, 255, 255)"> Save Data As PDF</button>
    </form>
    <form action="{% url 'export_excel'%}">
        <button class="fa fa-file-excel-o right" 
            style="font-size:13px;color:rgb(255, 255, 255)"> Export Data To Excel</button>
    </form>
</div>
<br><br>
<div class="container">
    <!-- Datatable --> 
    <div class="container">
        <div class="kahon">
        <h4>Withdraw Record</h4>
        <br>
        <table id="equipWithdrawTable" class="stripe cell-border hover" style="width:100%">
            <thead>
                <tr>
                    <th>Property No.</th>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Year Acquired</th>
                    <th>Issued To</th>
                    <th>Model No.</th>
                    <th>Serial No.</th>
                    <th>Certified Correct</th>
                </tr>
            </thead>
            
            <tbody>
                {% for x in info1 %}
                <tr>
                    <td>{{x.withdraw_equipment_property_no}}</td>
                    <td>{{x.withdraw_equipment_itemname}}</td>
                    <td>{{x.withdraw_equipment_description}}</td>
                    <td>{{x.withdraw_equipment_brand}}</td>
                    <td>{{x.withdraw_equipment_yearacquired}}</td>
                    <td>{{x.withdraw_equipment_issued_to}}</td>
                    <td>{{x.withdraw_equipment_model_no}}</td>
                    <td>{{x.withdraw_equipment_serial_no}}</td>
                    <td>{{x.withdraw_equipment_certifiedcorrect}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<br><br>

<div class="container" id="html-content-holder" align="center" style="padding-top: 10px;">
    <div id="result" class="container" align="center"></div>
</div>
    
<script type="text/javascript">

    function create() {
        var x = document.getElementById("id").value + '\n' + document.getElementById("propertyNo").value + '\n' + document.getElementById("yrAcquired").value + '\n' + document.getElementById("modelNo").value + '\n' + document.getElementById("serialNo").value + '\n' + document.getElementById("certCorrect").value;
        document.getElementById("result").innerHTML = "<img src='https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=" + encodeURIComponent(x) + "'/>";
    }


    $(document).ready(function() {
        var table = $('#equipRequestTable').DataTable( {
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        } );
    } );

    $(document).ready(function() {
        var table = $('#equipWithdrawTable').DataTable( {
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        } );
    } );
</script>
{% endblock %}
