{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Equipment Return </title>
<link rel="stylesheet" href="{% static 'css/equipment-delivery.css' %}">
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href=https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<style>
    #returnequipment {
        color: white;
        background-color: #c0d2e4;
        border: 2px solid #0a0a0a;
        padding: 10px;
        height: 200px;
        width: 400px;
    }

</style>
<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Equipment Return</h2></label>
            </div>
        </div>
    </nav>


<div class="home-content" align="center">
    <div style="margin: auto;"><br>
        <label style="text-align: center;"><h3>Scanning QR</h3></label>
    </div>
    <div style="margin: auto;">
        <label style="text-align: center;"><h5>INFO</h5></label>
    </div>

    <input type="text" id="returnequipment" name="returnequipment">

    <br><br>
    <span><button id="" type="button" class="btn btn-danger">Return</button></span>
</div>

<br><br>
<div class="container" style=" width: 98%;">
<div class="kahon">
    <!-- Datatable --> 
    <table id="returnTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th style="text-align: center;">Property No.</th>
                <th style="text-align: center;">Item Name</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: center;">Brand</th>
                <th style="text-align: center;">Year Acquired</th>
                <th style="text-align: center;">Issued To</th>
                <th style="text-align: center;">Model No.</th>
                <th style="text-align: center;">Serial No.</th>
                <th style="text-align: center;">Certified Correct</th>
                <th style="text-align: center;">Date Return</th>
            </tr>
        </thead>
        <tbody>
            {% for x in info %}
            <tr class="edittr">
                <td align="center">{{x.return_equipment_property_no}}</td>
                <td align="center">{{x.return_equipment_itemname}}</td>
                <td align="center">{{x.return_equipment_description}}</td>
                <td align="center">{{x.return_equipment_brand}}</td>
                <td align="center">{{x.return_equipment_yearacquired}}</td>
                <td align="center">{{x.return_equipment_issued_to}}</td>
                <td align="center">{{x.return_equipment_model_no}}</td>
                <td align="center">{{x.return_equipment_serial_no}}</td>
                <td align="center">{{x.return_equipment_certifiedcorrect}}</td>
                <td align="center">{{x.return_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
</div>
              
<br><br>
<script>
    $(document).ready(function() {
                var table = $('#returnTable').DataTable( {
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    responsive: true
                } );
            } );

</script>
{% endblock %}
