{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
  <link rel="icon" href="{% static 'img/TUP LOGO.png'%}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


</head>

<style>
  .kahon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 32px 25px;

  }

  hr {
    border: 1px solid;
    background-color: black;
    border-radius: 5px;
  }
</style>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bckgrnd sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon logo-band">
          <br>
          <!-- <i><img src="{% static 'img/TUP LOGO.png' %}"
                        style="width:50px; height:50px; padding-left: 5px; padding-top:5px;"></img></i> -->
          <div class="row">
            <i><img src="{% static 'img/TUP LOGO.png' %}"
                style="width:50px; height:50px; padding-left: 5px; padding-top:5px;"></img></i>
          </div>
          <label><span style="color: red;">Supply</span> <br>Inventory System</label>
        </div>
        <!-- <div class="sidebar-brand-text mx-3">Supply Inventory <br>System</div> -->
      </a>
      <br>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item  -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'inventorysystem-depRequestSupply' %}">
          <i class='bx bx-paperclip'></i>
          <span>Request Supply</span></a>
      </li>

      <!-- Nav Item  -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'inventorysystem-depRequestEquipment' %}">
          <i class='bx bx-devices'></i>
          <span>Request Equipment</span></a>
      </li>

      <!-- Nav Item  -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'inventorysystem-depWithdrawnItems' %}">
          <i class='bx bx-devices'></i>
          <span>Withdrawn Record</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    {% block content %}
    <title>Request Supply</title>
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!---------------------------- Main Content ----------------------------------->

      <div id="content" class="main-content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-dark topnav topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-100 small">Welcome, {{request.user}}!</span>
                <span class="mr-2 d-none d-lg-inline text-gray-100 small"></span>
                <img class="img-profile rounded-circle" src="{% static 'img/sb-dashboard/undraw_profile.svg' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'inventorysystem-deptProfileUpdate' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Manage Account
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->


        <!----------------------------------- Begin Page Content ----------------------------->

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="row">
              <div class="container">
                  <div class="container" style="margin-bottom: 0;">
                      <div class="container" style="margin-bottom: 0;">
                          <div class="d-sm-flex align-items-center justify-content-between mb-4">
                              <h1 class="h3 mb-0 text-gray-900">Supply Inventory System Help Center</h1>
                          </div>

                      </div>
                  </div>

              </div>
          </div>
          <div class="modal-content"   >
                  <div class="modal-header">
                    <h3 align="center"></h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br>
                
                  </div>
                  <div class="container">
                      <div class="modal-body">
                          <h3 align="center">How can we help you? <p></p> Choose help topics</h3>
                          <h5>Request Supply</h5>
                          <button type="button" class="btn" data-toggle="collapse" data-target="#suply1">See more..</button>  
                          <div  align="center" style="background-color: white; padding-left: 10px;" id="suply1" class="collapse">
                            -After the Admin set a limit in the supplies, the department will be able to request depending on what supplies and how many supplies admin set
                            <button type="button" class="btn" data-toggle="collapse" data-target="#depreqsup">View Image</button>
                              <div align="center" id="depreqsup" class="collapse">
                              <i><img src="{% static 'usermanual picture/depreqsup.png' %}"
                              style="width:50%; height:50%; "></img></i>
                              </div><br>
                              <li>
                                Input the quantity 
                              </li>
                              <li>
                                Click “Request” 
                              </li>
                              The department cant exceed the quantity that the admin set. After requesting the admin will be notified via email

                            <button type="button" class="btn" data-toggle="collapse" data-target="#depreqsup1">View Image</button>
                              <div align="center" id="depreqsup1" class="collapse">
                              <i><img src="{% static 'usermanual picture/depreqsup1.png' %}"
                              style="width:30%; height:30%; "></img></i>
                              </div><br>
                              <li>
                                Choose the item and click the green button “Request” 
                              </li><br><br>
                            <h5>Creating Requisition and Issue Slip</h5>
                            <button type="button" class="btn" data-toggle="collapse" data-target="#cris">View Image</button>
                              <div align="center" id="cris" class="collapse">
                              <i><img src="{% static 'usermanual picture/cris.png' %}"
                              style="width:50%; height:50%; "></img></i>
                              </div><br>
                            -Fill inputs such as department and date when the equipment is accepted.
                            <li>
                              Click “Create Form” button
                            </li>
                            <button type="button" class="btn" data-toggle="collapse" data-target="#cris1">View Image</button>
                              <div align="center" id="cris1" class="collapse">
                              <i><img src="{% static 'usermanual picture/cris1.png' %}"
                              style="width:50%; height:50%; "></img></i>
                              </div><br>
                            -Complete the necessary information in creating the form
                            <li>
                              Click “Save” button 
                            </li>
                            <li>
                              Click “Create Form” Button
                            </li>

                          </div>

                          <h5>Request Equipment</h5>
                          <button type="button" class="btn" data-toggle="collapse" data-target="#suply2">See more..</button>            
                          <div align="center" style="background-color: white; padding-left: 10px;" id="suply2" class="collapse">
                            <button type="button" class="btn" data-toggle="collapse" data-target="#depreqequip">View Image</button>
                              <div align="center" id="depreqequip" class="collapse">
                              <i><img src="{% static 'usermanual picture/depreqequip.png' %}"
                              style="width:50%; height:50%; "></img></i>
                              </div><br>
                            <button type="button" class="btn" data-toggle="collapse" data-target="#depreqequip1">View Image</button>
                              <div align="center" id="depreqequip1" class="collapse">
                              <i><img src="{% static 'usermanual picture/depreqequip1.png' %}"
                              style="width:50%; height:50%; "></img></i>
                              </div><br>
                            <button type="button" class="btn" data-toggle="collapse" data-target="#depreqequip2">View Image</button>
                              <div align="center" id="depreqequip2" class="collapse">
                              <i><img src="{% static 'usermanual picture/depreqequip2.png' %}"
                              style="width:50%; height:50%; "></img></i>
                              </div><br>

                            <li>
                              Click the “Request Equipment” in your navigation menu
                            </li>
                            <li>
                              Input all the information needed in Requesting  an Equipment 
                            </li>
                            <li>
                              Then Click the “Request” button 
                            </li>
                          </div>

                
          <!------------------- Content Row ------------------->
          

          <!------------------- Content Row ------------------->
          
          <!------------------- Content Row ------------------->

                  </div>
                          
            </div>              
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
</div>
      <!------------------------------------ Footer ------------------------------------->
      <footer class="sticky-footer footer ">
        <div class="container my-auto">
          <div class="copyright text-gray-700 text-center my-auto">
            <span>Copyright &copy; <strong><span>COET-4B 2022-2023</span></strong>. All Rights Reserved.</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->





  <!----- UPDATE MODAL ----->
  


  {% endblock %}





  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'inventorysystem-logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <!------------------------------- JAVASCRIPT ----------------------------------------->

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>


  <!-- Main JS File -->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>





</body>

</html>