{% extends "task/password_reset.html" %}
{% block content %}

<title>Password Reset Confirm</title>
<style>
li {
    color: #fff;
}
</style>

{% load bootstrap4 %} 
  
    <div class="container p-3 text-light">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}      
            <br>            
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>

{% endblock %}