{% load static %}


<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/TUP LOGO.png' %}">
  <link rel="stylesheet" href="{% static 'css/outputpdf.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @page {
      size: letter portrait;
      margin: 1cm 1.5cm 2.5cm 1.5cm;
      font-size: 0.3cm;
    }

    table {
      width: 100%;
      font-size: 0.3cm;
    }

    table, th, td {
      border: 0.5px solid black;
      border-collapse: collapse;
    }

    th, td {
      padding: 5px;
      text-align: center;
    }

    .container1 {
      margin-top: 0.3cm;
    }
  </style>

</head>

<body>

  <!-- <div class="container1">
    <div class="header">
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th >
                <div >
                  <img style="width: 60px; height: 60px;" src="../../static/img/TUP LOGO.png" class="img-fluid" >
                </div>
              </th>
              <th style="width: 90%; " align="center; ">
                
                <p>Technological University of the Philippines Cavite <br>
                  Cavite Campus<br>
                  Carlos Q. Trinidad Avenue, Salawag, Dasmariñas City, Cavite, Philippines <br>
                  Telefax (046) 416-4920<br>
                  Email: cavite@tup.edu.php | Website: www.tup.edu.ph
                </p>
              </th>
            </tr>
          </thead>
        </table>

        <table>
          <thead>
            <style>

            </style>
            <tr>
              <th style="width: 10%; ">OSP
              </th>
              <th style="width: 90%; "> Delivery Records: Supply
              </th>
            </tr>
          </thead>
        </table>
      </div><br><br>
    </div> -->
    <h2 style="text-align: center;"> REQUISTION AND ISSUE SLIP</h2>
    <br>
    <div class="row">
        <div class="col-xl-6 col-md-6">
            <p style="font-size: 13px; ">Entry Name: Technological University of the Philippines at Cavite <span style="color: white;">AHH</span> Fund Cluster: </p> 
        </div>
    </div>
    
    <table class="Table-Content">
        <tbody>
          {% for a in Form1 %}
          <tr>
            <th style="text-align: left;">Office:</th>
            <td style="text-align: left;" colspan="4">{{a.createformsupply_inputs_office}}</td>
            <th style="text-align: left;">RIS No: </th>
            <td style="text-align: left;" colspan="3"></td>
          </tr>
          {% endfor %}
        </tbody>
        <thead class="">
          {% for a in Form1 %}
            <tr>
              <th style="text-align: left;">Division:</th>
              <td style="text-align: left;" colspan="4">{{a.createformsupply_inputs_department}}</td>
              <th style="text-align: left;"> Responsibility <br> Center Code:</th>
              <td style="text-align: left;" colspan="3"></td>
            </tr>
            {% endfor %}
        </thead>

        <thead class="thead_1">
            <tr>
                <th colspan="5">REQUISITION</th>
                <th colspan="2">Stock Available?</th>
                <th colspan="2">INSUANCE</th>
            </tr>
        </thead>
      <thead class="thead_1">
        <tr>
          <th>Stock No.</th>
          <th>Unit</th>
          <th colspan="2">Description</th>
          <th>Qty</th>
          <th>Yes</th>
          <th>No</th>
          <th>Qty</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        {% for y in Form %}
        <tr>
          <td>{{y.}}</td>
          <td >{{y.createformsupply_unit}}</td>
          <td style="text-align: left;" colspan="2">{{y.createformsupply_description}}</td>
          <td>{{y.createformsupply_acceptedquantity}}</td>
          <td>/</td>
          <td>{{y.}}</td>
          <td>{{y.createformsupply_acceptedquantity}}</td>
          <td style="text-align: right;">{{y.createformsupply_amount}}</td>
        </tr>
        {% endfor %}
      </tbody>

        {% for a in Form1 %}
        <tr>
          <th style="text-align: left;">Purpose: </th>
          <td colspan="8" style="text-align: left;">{{a.createformsupply_inputs_purpose}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

    <table>
        <thead class="thead_1">
            <tr>
              <th style="text-align: left;"colspan="2">
                <br><br><br> Signature: </th>
              <th >Requested By:
                <br><br><br><br></th>
              <th style="text-align: left;" colspan="3">Approved By:
                <br><br><br><br></th>
              <th colspan="2">Issued By:
                <br><br><br><br></th>
              <th colspan="2">Received By:
                <br><br><br><br></th>
            </tr>
          </thead>
          <tbody>
            {% for a in Form1 %}
            <tr>
              <td style="text-align: left; font-weight: bold;" colspan="2">Printed Name</td>
              <td style="text-transform: uppercase;">{{a.createformsupply_inputs_requestedby}} </td>
              <td colspan="3" style="text-transform: uppercase ;"> {{a.createformsupply_inputs_approvedby}}</td>
              <td style="text-transform: uppercase;" colspan="2">{{a.createformsupply_inputs_issuedby}} </td>
              <td style="text-transform: uppercase;" colspan="2">{{a.createformsupply_inputs_receivedby}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tbody>
            {% for a in Form1 %}
            <tr>
              <td style="text-align: left; font-weight: bold;" colspan="2"> Designation</td>
              <td style="text-transform:lowercase;">{{a.createformsupply_inputs_department}} </td>
              <td colspan="3"> Campus Director</td>
              <td style="text-transform: uppercase;" colspan="2"></td>
              <td style="text-transform: uppercase;" colspan="2"></td>
            </tr>
            {% endfor %}
          </tbody>
          <tbody>
            <tr>
              <td style="text-align: left; font-weight: bold;" colspan="2"> Date:</td>
              <td ></td>
              <td colspan="3"> </td>
              <td colspan="2"></td>
              <td colspan="2"></td>
            </tr>
          </tbody>

    </table>

</body>

</html>