{% load static %}


<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/TUP LOGO.png' %}">
  <link rel="stylesheet" href="{% static 'css/outputpdf.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @page {
      size: letter portrait;
      margin: 1cm 1.5cm 2.5cm 1.5cm;
      font-size: 0.3cm;

    }

    table {
      width: 100%;
      font-size: 0.3cm;
    }

    table, th, td {
      border: 0.5px solid black;
      border-collapse: collapse;
    }

    th, td {
      padding: 5px;
      text-align: center;
    }

    .container1 {
      margin-top: 0.3cm;
    }
  </style>

</head>

<body>

  <div class="container1">   
        <p style="text-align: center;">Republic of the Philippines <br>
           <span>TECHNOLOGICAL UNIVERSITY OF THE PHILIPPINES AT CAVITE</span> <br>
          Salawag, Dasmariñas, Cavite 
        </p>
      </div>
    </div>
    
    <table class="Table-Content">
      <thead class="">
        <tr>
          <th colspan="10" style="text-align: center; font-weight: bolder; font-size: 20px;"><span style="color: white;"></span>
             <br> INVENTORY CUSTODIAN SLIP <br>
            <span style="color: white;">AHHAHAAAAAAAAAAAA</span></th>
        </tr>
      </thead>

      <tbody>
        {% for a in Equips %}
        <tr>
          <th colspan="10" style="text-align: right;font-weight: bold;" > ICS No. {{a.icsform_inputs_icsno}}</th>
        </tr>
        {% endfor %}
      </tbody>

    
      <thead>
        <tr>
          <th ></th>
          <th ></th>
          <th colspan="2"style="text-align: center;">Amount</th>
          <th colspan="3"></th>
          <th colspan="2"></th>
          <th ></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th >Quantity</th>
          <th >Unit</th>
          <th style="text-align: center;">Unit Cost</th>
          <th style="text-align: center;">Total Cost</th>
          <th colspan="3"> Description</th>
          <th colspan="2"> Inventory Item No.</th>
          <th > Estimated <br> Useful Life</th>
        </tr>
      </thead>
      <tbody>
        {% for y in Equip %}
        <tr>
          <td >{{y.custodianslip_quantity}}</td>
          <td >{{y.custodianslip_unit}}</td>
          <td >{{y.custodianslip_unitcost}}</td>
          <td style="text-align: right;">{{y.custodianslip_totalcost}}</td>
          <td style="text-align: left;" colspan="3">{{y.custodianslip_description}}</td>
          <td colspan="2">{{y.custodianslip_inventoryitemno}}</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
        <!-- Dummy -->
        <tbody style="color: rgb(255, 255, 255);">
          <tr>
            <td >1</td>
            <td style="text-transform: uppercase;">Pcs </td>
            <td > 5555</td>
            <td > 5555</td>
            <td colspan="3">54738</td>
            <td colspan="2">54738</td>
            <td >54738</td>
          </tr>
        </tbody>
  
        <tbody style="color: white;">
          <tr>
            <td >1</td>
            <td style="text-transform: uppercase;">Pcs </td>
            <td > 5555</td>
            <td > 5555</td>
            <td colspan="3">54738</td>
            <td colspan="2">54738</td>
            <td >54738</td>
          </tr>
        </tbody>
        <!-- End of dummy -->
        <tbody >
          {% for a in Equips %}
          <tr>
            <td></td>
            <td ></td>
            <td style="text-align: left;" colspan="5">Supplied by:  {{a.icsform_inputs_suppliedby}}</td>
            <td colspan="2"></td>
            <td ></td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody >
          {% for a in Equips %}
          <tr>
            <td></td>
            <td ></td>
            <td style="text-align: left;" colspan="5">P.O. No: {{a.icsform_inputs_pono}}</td>
            <td colspan="2"></td>
            <td ></td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody >
          {% for a in Equips %}
          <tr>
            <td></td>
            <td ></td>
            <td style="text-align: left;" colspan="5">Invoice No: {{a.icsform_inputs_invoiceno}}</td>
            <td colspan="2"></td>
            <td ></td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody style="color: white;">
          <tr>
            <td >1</td>
            <td style="text-transform: uppercase;">Pcs </td>
            <td > 5555</td>
            <td > 5555</td>
            <td colspan="3">54738</td>
            <td colspan="2">54738</td>
            <td >54738</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th style="text-align: left; font-weight: bold;" colspan="5">RECEIVED FROM: <br><br><br><br><br></th>
            <th style="text-align: left; font-weight: bold;" colspan="5">RECEIVED BY: <br><br><br><br><br></th>
          </tr>
        </thead>
        <tbody >
          {% for a in Equips %}
          <tr>
            <td style="text-transform: uppercase;" colspan="5">{{a.icsform_inputs_receivedfrom}}</td>
            <td style="text-transform: uppercase;" colspan="5">{{a.icsform_inputs_receivedby}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody >
          <tr>
            <td style="font-weight: bold;" colspan="5"> Signature Over Printed Name</td>
            <td style="font-weight: bold;" colspan="5"> Signature Over Printed Name</td>
          </tr>
        </tbody>
        <tbody >
          <tr>
            <td style="text-decoration: underline;" colspan="5">Supply Officer, TUPC <br> Position Office</td>
            <td colspan="5"> </td>
          </tr>
        </tbody>
        <tbody >
          <tr>
            <td colspan="5"> <br><br><br> Date</td>
            <td colspan="5"> <br><br><br> Date</td>
          </tr>
        </tbody>

    </table>

</body>

</html>