{% load static %}


<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/TUP LOGO.png' %}">
  <link rel="stylesheet" href="{% static 'css/outputpdf.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @page {
      size: letter portrait;
      margin: 1cm 1.5cm 2.5cm 1.5cm;
      font-size: 0.3cm;

    }

    table {
      width: 100%;
      font-size: 0.3cm;
    }

    table, th, td {
      border: 0.5px solid black;
      border-collapse: collapse;
    }

    th, td {
      padding: 5px;
      text-align: center;
    }

    .container1 {
      margin-top: 0.3cm;
    }
  </style>

</head>

<body>

  <!-- <div class="container1">
    <div class="header">
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th >
                <div >
                  <img style="width: 60px; height: 60px;" src="../../static/img/TUP LOGO.png" class="img-fluid" >
                </div>
              </th>
              <th style="width: 90%; " align="center; ">
                
                <p>Technological University of the Philippines Cavite <br>
                  Cavite Campus<br>
                  Carlos Q. Trinidad Avenue, Salawag, Dasmariñas City, Cavite, Philippines <br>
                  Telefax (046) 416-4920<br>
                  Email: cavite@tup.edu.php | Website: www.tup.edu.ph
                </p>
              </th>
            </tr>
          </thead>
        </table>

        <table>
          <thead>
            <style>

            </style>
            <tr>
              <th style="width: 10%; ">OSP
              </th>
              <th style="width: 90%; "> Delivery Records: Supply
              </th>
            </tr>
          </thead>
        </table>
      </div><br><br>
    </div> -->
    
    <table class="Table-Content">
      <thead class="">
        <tr>
          <th colspan="8" style="text-align: center; font-weight: bolder; font-size: 20px;"><span style="color: white;"></span>
             <br> ACKNOWLEDGEMENT RECEIPT FOR EQUIPMENT 
            <br><span style="font-size: 15px;"> Technological University of the Philippines at Cavite</span> <br>
            <span style="color: white;">AHHAHAAAAAAAAAAAA</span></th>
        </tr>
      </thead>
      <tbody>
        {% for a in Form1 %}
        <tr>
          <td colspan="8" style="text-align: right;font-weight: bold;"> No. {{a.areform_inputs_no}}</td>
        </tr>
      </tbody>
      {% endfor %}
      <thead>
        <tr>
          <th >Qty</th>
          <th >Unit</th>
          <th colspan="4" style="text-align:left; color: white;">Description</th>
          <th colspan="2"> Property No.</th>
        </tr>
      </thead>
      <tbody>
        {% for y in Form %}
        <tr>
          <td >{{y.receiptformequipment_quantity}}</td>
          <td >{{y.receiptformequipment_unit}}</td>
          <td style="text-align: left;" colspan="4">{{y.receiptformequipment_itemname}} ; {{y.receiptformequipment_description}} ; {{y.receiptformequipment_unit}}
            ; {{y.receiptformequipment_amount}} </td>
          <td colspan="2">{{y.receiptformequipment_propertyno}}</td>
        </tr>
        {% endfor %}
      </tbody>
        <!-- Dummy -->
        <tbody>
          <tr>
            <td  style="color: rgb(255, 255, 255);">1</td>
            <td  style="color: rgb(255, 255, 255);">1</td>
            <td  style="text-align: left;" colspan="4"> \\\\ Nothing Follows //// </td>
            <td  style="color: rgb(255, 255, 255);"colspan="2">1</td>
          </tr>
        </tbody>
  
        <tbody style="color: white;">
          <tr>
            <td>1</td>
            <td >1</td>
            <td colspan="4">1</td>
            <td colspan="2">1</td>
          </tr>
        </tbody>
  
        <!-- End of dummy -->
        <tbody >
          {% for y in Form1 %}
          <tr>
            <td></td>
            <td ></td>
            <td style="text-align: left;" colspan="4">Supplied by: {{y.areform_inputs_suppliedby}}</td>
            <td colspan="2"></td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody >
          {% for y in Form1 %}
          <tr>
            <td></td>
            <td ></td>
            <td style="text-align: left;" colspan="4">P.O. No: {{y.areform_inputs_pono}}</td>
            <td colspan="2"></td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody >
          {% for y in Form1 %}
          <tr>
            <td></td>
            <td ></td>
            <td style="text-align: left;" colspan="4">Invoice No: {{y.areform_inputs_invoiceno}}</td>
            <td colspan="2"></td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody >
          {% for y in Form2 %}
          <tr>
            <td></td>
            <td ></td>
            <td style="text-align: left;" colspan="4">In the amount of Php. {{y.areform_totalamount}}</td>
            <td colspan="2"></td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody style="color: white;">
          <tr>
            <td>1</td>
            <td >1</td>
            <td colspan="4">1</td>
            <td colspan="2">1</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th style="text-align: left; font-weight: bold;" colspan="4">Received by: <br><br><br><br><br></th>
            <th style="text-align: left; font-weight: bold;" colspan="4">Received from: <br><br><br><br><br></th>
          </tr>
        </thead>
        <tbody >
          {% for y in Form1 %}
          <tr>
            <td colspan="4" style="text-transform: uppercase;">{{y.areform_inputs_receivedby}}</td>
            <td colspan="4" style="text-transform: uppercase;">{{y.areform_inputs_receivedfrom}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody >
          <tr>
            <td style="font-weight: bold;" colspan="4" > Signature Over Printed Name</td>
            <td style="font-weight: bold;" colspan="4"> Signature Over Printed Name</td>
          </tr>
        </tbody>
        <tbody >
          {% for y in Form1 %}
          <tr>
            <td style="text-decoration: underline;" colspan="4"> {{y.areform_inputs_position}} <br>Position</td>
            <td style="text-decoration: underline;" colspan="4"> Supply Officer, TUPC <br> Position Office</td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody >
          <tr>
            <td colspan="4"> <br><br><br> Date</td>
            <td colspan="4"> <br><br><br> Date</td>
          </tr>
        </tbody>

    </table>

</body>

</html>