{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Status Limit </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
    .hero{
        margin: 0; 
        padding: 0;
        height: 100%;
        
    }
    .toggle-btn{
        padding: 10px 30px;
        cursor: pointer;
        outline: none;
        position: relative;
        top: 0;
        color: black;
        border-radius: 10px;
        padding: 7px 25px 8px 25px;
        transition: 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: bolder;
        border: 2px solid #a7241b;
        background: transparent;
    }
      
    .toggle-btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
        }
    .form-box{
        width: 400px;
        height: 450px;
        position: relative;
        display: block;
        margin: 6% auto;
        background: rgb(248, 247, 247);
        padding-top: 10px;
        overflow: hidden;
        border: 1px #a7241b solid;
        border-radius: 5px;
    }
    .input-group{
        transition: .5s;
        position: absolute;
        padding-right: 35px;

    }
    .input-field{
        padding: 10px ;
        margin: 5px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;  
    }
    .submit-btn{
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background:linear-gradient(to right, rgb(81, 159, 223), #0292f1) ;
        border: 0;
        outline: none;
    }
    #exist{
        left: 20px;
    }
    #not-exist{
        left: 450px;
    }

    .btn{
        color: black;
        border-radius: 25px;
        padding: 7px 25px 8px 25px;
        white-space: nowrap;
        transition: 0.3s;
        text-transform: uppercase;
        text-decoration: none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: bolder;
        border: 1px solid #a7241b;
        background: transparent;
    
  }
  
    .btn:hover {
        text-decoration: none;
        background: #a7241b;
        color: white;
  }
  h4{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

</style>

<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Status Limit</h2></label>
            </div>
        </div>
    </nav>

<br>
  
<div style="margin: auto; width: 90%; padding-top: 20px">
    <div>
        <label style="padding-top: 90px;;" align="center"><h4>Main Storage</h4></label>
    </div>
    <br>
<!-- Datatable --> 
    <table id="MainStorage" class="stripe cell-border hover" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Unit</th>
                <th>Quantity</th>
              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>OSA</td>
                <td>Marker</td>
                <td>Black Whiteboard Marker</td>
                <td>Artline</td>
                <td>Box</td>
                <td>45</td>
                
            </tr>
            <tr>
                <td>ADAA</td>
                <td>Marker1</td>
                <td>Black Whiteboard Marker</td>
                <td>Artline</td>
                <td>Box</td>
                <td>45</td>
                
            </tr>
        </tbody>

    </table>
    <br>

<div>
    <label style="padding-top: 90px;;" align="center"><h4>Requests</h4></label>
</div>
    <br>
<!-- Datatable --> 
<table id="LimitTable" class="stripe cell-border hover" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Department</th>
            <th>Date & Time</th>
          
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>OSA</td>
            <td>Marker</td>
            <td>Black Whiteboard Marker</td>
            <td>Artline</td>
            <td>Box</td>
            <td>45</td>
            <td>OSA</td>
            <td>01/16/2022</td>
            
        </tr>
        <tr>
            <td>ADAA</td>
            <td>Marker1</td>
            <td>Black Whiteboard Marker</td>
            <td>Artline</td>
            <td>Box</td>
            <td>45</td>
            <td>OSA</td>
            <td>01/16/2022</td>
            
        </tr>
    </tbody>

</table>
<br><br>

<script>
    $(document).ready(function () {
    $('#MainStorage').DataTable();
    $('#LimitTable').DataTable();
});

</script>

<div class="" align="center" >
    <div class="form-box">
        <div class="button-box">
            <div id="cmdbtn">
            <button id="btn2" type="button" class="toggle-btn btn1" onclick="exist()">Existing</button>
            <button id="btn2" type="button"  class="toggle-btn btn1" onclick="notexist()">Non-Existing</button>
            </div>
            <br>
        </div>
        <div id="exist" class="input-group">
            <div class="content input-group mb-1" style="padding-top: 50px;">
                <span class="input-group-text" id="inputGroup-sizing-default">QUANTITY:</span>
                <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="content input-group mb-1" >
                <span class="input-group-text" id="inputGroup-sizing-default">ID:</span>
                <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> 
            </div>
            <div style="padding-top: 110px; margin: auto; width: 20%;">
                <span><button id="btn1" type="button" class="btn" >Limit</button></span>  
            </div>
        </div>
        <div id="not-exist" class="input-group">  
            <div class="content input-group mb-1" style="padding-top: 250px;">
                <span class="input-group-text" id="inputGroup-sizing-default">DEPARTMENT:</span>
                <input type="dropdown" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> 
            </div>  
            <div class="content input-group mb-1" style="padding-top: 200px;">
                <span class="input-group-text" id="inputGroup-sizing-default">QUANTITY:</span>
                <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> 
            </div>     
            <div class="content input-group mb-1" style="padding-top: 150px;">
                <span class="input-group-text" id="inputGroup-sizing-default">UNIT:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> 
            </div>
            <div class="content input-group mb-1" style="padding-top: 100px;">
                    <span class="input-group-text" id="inputGroup-sizing-default">BRAND:</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> 
                </div>
            <div class="content input-group mb-1" style="padding-top: 50px;">
                <span class="input-group-text" id="inputGroup-sizing-default">DESCRIPTION:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="content input-group mb-1" >
                    <span class="input-group-text" id="inputGroup-sizing-default">ITEM NAME:</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> 
                </div>    
            <div style="padding-top: 300px; margin: auto; width: 20%;">
                <span><button id="btn1" type="button" class="btn btn-outline-primary" >Limit</button></span>  
            </div>
        </div>
    </div>
</div>
<br><br>
<script>
    var x = document.getElementById("exist");
    var y = document.getElementById("not-exist");  
    var z = document.getElementById("cmdbtn");

    function notexist(){
        x.style.left = "-400px";
        y.style.left = "20px";
        z.style.left = "100px";
    }
    function exist(){
        x.style.left = "20px";
        y.style.left = "520px";
        z.style.left = "0px";
    }

</script>

{% endblock %}
