{% extends 'task/dashboard.html' %}
{% load static %}



{% block content %}

<title> Storage Mapping </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/63519495ef.js" crossorigin="anonymous"></script>

<style>
    .kahon {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        background: rgb(255, 255, 255);
        padding: 32px 25px;

    }

    hr {
        border: 1px solid;
        background-color: black;
        border-radius: 5px;
    }
</style>

<div id="content-wrapper" class="d-flex flex-column">

    <!---------------------------- Main Content ----------------------------------->

    <div id="content" class="main-content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-dark topnav topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>


            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-100 small">Welcome, {{label.username}}!</span>
                        <span class="mr-2 d-none d-lg-inline text-gray-100 small"></span>
                        <img class="img-profile rounded-circle"
                            src="{% static 'img/sb-dashboard/undraw_profile.svg' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'inventorysystem-adminProfileUpdate' %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Update Profile
                        </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{% url 'inventorysystem-index' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <!----------------------------------- Begin Page Content ----------------------------->


        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="container">
                    <div class="container" style="margin-bottom: 0;">
                        <div class="container" style="margin-bottom: 0;">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-900">Storage Mapping</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <!------------------- Content Row ------------------->
            <div class="row">

                <div class="col-xl-12 col-md-12 mb-4">
                    <div class="container">
                        <div class="kahon">
                            <h3 align="center">Supply</h3>
                            <hr>
                            <table id="supplymappingTable" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Description</th>
                                        <th style="text-align: center;">Rack No.</th>
                                        <th style="text-align: center;">Layer No.</th>
                                        <th style="text-align: center;">Cabinet No.</th>
                                        <th style="text-align: center;">Shelf No.</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in info %}
                                    <tr class="edittr">
                                        <td align="center">{{x.supplymainstorage_description}}</td>
                                        <td align="center">{{x.supplymainstorage_supplyRackNo}}</td>
                                        <td align="center">{{x.supplymainstorage_supplyLayerNo}}</td>
                                        <td align="center">{{x.supplymainstorage_supplyCabinetNo}}</td>
                                        <td align="center">{{x.supplymainstorage_supplyShelfNo}}</td>
                                        <td align="center"><a class="btn btn-success editBtn" name="editBtn" 
                                            style="font-size: 13px; "> UPDATE</a></td>
                                        <i class=""></i>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>


            <!------------------- Content Row ------------------->
            <div class="row">

                <div class="col-xl-12 col-md-12 mb-4">
                    <div class="container">
                        <div class="kahon">
                            <h3 align="center">Dispose Equipment</h3>
                            <hr>
                            <table id="equipmentmappingTable" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Location.</th>
                                        <th style="text-align: center;">Property No.</th>
                                        <th style="text-align: center;">Item Name</th>
                                        <th style="text-align: center;">Description</th>
                                        <th style="text-align: center;">Brand</th>
                                        <th style="text-align: center;">Year Acquired</th>
                                        <th style="text-align: center;">Issued To</th>
                                        <th style="text-align: center;">Model No.</th>
                                        <th style="text-align: center;">Serial No.</th>
                                        <th style="text-align: center;">Certified Correct</th>
                                        <th style="text-align: center;">Date Disposed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in info1 %}
                                    <tr class="edittr">
                                        <td align="center">{{x.dispose_equipment_location}}</td>
                                        <td align="center">{{x.dispose_equipment_property_no}}</td>
                                        <td align="center">{{x.dispose_equipment_itemname}}</td>
                                        <td align="center">{{x.dispose_equipment_description}}</td>
                                        <td align="center">{{x.dispose_equipment_brand}}</td>
                                        <td align="center">{{x.dispose_equipment_yearacquired}}</td>
                                        <td align="center">{{x.dispose_equipment_issued_to}}</td>
                                        <td align="center">{{x.dispose_equipment_model_no}}</td>
                                        <td align="center">{{x.dispose_equipment_serial_no}}</td>
                                        <td align="center">{{x.dispose_equipment_certifiedcorrect}}</td>
                                        <td align="center">{{x.dispose_date}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>



        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!------------------------------------ Footer ------------------------------------->
    <footer class="sticky-footer footer ">
        <div class="container my-auto">
            <div class="copyright text-gray-700 text-center my-auto">
                <span>Copyright &copy; <strong><span>COET-4A 2022-2023</span></strong>. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->



<!----- UPDATE SUPPLY STORAGE MODAL ----->
<div class="modal fade" id="openModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <!----- UPDATE SUPPLY STORAGE FORM ---->
                <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="editId" name="supplyStoragemapping_id" value="" readonly>

                    <div class="col-md-12">
                        <label class="form-label">Item name:</label>
                        <input type="text" class="form-control" id="itemname" name="supplyItemName" readonly>
                    </div>

                    <div class="col-md-12">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Rack No. :</label>
                        <input type="number" class="form-control" id="rackno" name="supplyRackNo" required>
                    </div>
                    <div class="col-md-12">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Layer No. :</label>
                        <input type="number" class="form-control" id="layerno" name="supplyLayerNo"  required>
                    </div>
                    <div class="col-md-12">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Cabinet No. :</label>
                        <input type="number" class="form-control" id="cabinetno" name="supplyCabinetNo" 
                            required>
                    </div>
                    <div class="col-md-12">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Shelf No. :</label>
                        <input type="number" class="form-control" id="shelfno" name="supplyShelfNo"  required>
                    </div>

                    <div class="modal-footer">
                        <div class="col-12">
                            <button type="submit" name="storagesupply_update" class="btn btn-primary">UPDATE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.editBtn').on('click', function () {

            $('#openModal').modal('show');
            $tr = $(this).closest('tr');
            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();

            console.log(data);
            $('h5.modal-title').html('Update Storage for: ' + data[1]);
            $('#editId').val(data[0]);
            $('#itemname').val(data[1]);
            $('#rackno').val(data[2]);
            $('#layerno').val(data[3]);
            $('#cabinetno').val(data[4]);
            $('#shelfno').val(data[5]);
        });
    });
</script>



<!-- --- UPDATE SUPPLY STORAGE MODAL ---
<div class="modal fade" id="openModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                --- UPDATE SUPPLY STORAGE FORM --
                <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="editId1" name="equipmentDisposal_id" value="" readonly>

                    <div class="col-md-12">
                        <label class="form-label">Equipment name:</label>
                        <input type="text" class="form-control" id="equipmentname" name="equipmentItemName" readonly>
                    </div>

                    <div class="col-md-12">
                        <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                            class="form-label">Location:</label>
                        <input type="text" class="form-control" id="location" name="equipmentLocation" required>
                    </div>

                    <div class="modal-footer">
                        <div class="col-12">
                            <button type="submit" name="storageequipment_update" class="btn btn-primary">UPDATE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>


 <script type="text/javascript">
    $(document).ready(function () {
        $('.editBtn1').on('click', function () {

            $('#openModal1').modal('show');
            $tr = $(this).closest('tr');
            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();

            console.log(data);
            $('h5.modal-title').html('Update Storage for: ' + data[1]);
            $('#editId1').val(data[0]);
            $('#equipmentname').val(data[1]);
            $('#location').val(data[2]);
        });
    });
</script> -->


<script>
    $(document).ready(function () {
        var table = $('#supplymappingTable').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });
    });
    $(document).ready(function () {
        var table = $('#equipmentdisposalTable').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });
    });
</script>

{% for message in messages %}
{% if message.tags == 'info' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}";
    swal('Notice: ', m, 'info')
</script>
{% elif message.tags == 'success' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ message }}";
    swal("Success! ", m, "success")
</script>
{% endif %}
{% endfor %}


{% endblock %}