{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Storage Mapping </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<style>
    .btn{
        color: black;
        border-radius: 10px;
        padding: 7px 25px 8px 25px;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        font-weight: bolder;
        display: inline-block;
        border: 2px solid #a7241b;
        background: transparent;
        
    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }
</style>
<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Storage Mapping</h2></label>
            </div>
        </div>
    </nav>

<div class="home-content" style="margin: auto; width: 90%;">
     <!-- Datatable --> 
     <table id="mappingTable" class="stripe cell-border hover" style="width:100%">
        <thead>
            <tr>
                <th>Category</th>
                <th>Item Name</th>
                <th>Location</th>
                <th>Cabinet No.</th>
                <th>Shelf No.</th>
                <th>Layer No.</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for x in info %}
            <tr>
                <td>{{x.Category}}</td>
                <td>{{x.ItemName}}</td>
                <td>{{x.Location}}</td>
                <td>{{x.CabinetNo}}</td>
                <td>{{x.ShelfNo}}</td>
                <td>{{x.LayerNo}}</td>
                <td><a href="">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="container" align="center" style="padding-top: 10px">
            <div colspan="3" align="center" style="padding-top: 10px; padding-bottom: 5px;">
                  <div class="container content input-group mb-1" style="min-width: 30px;">
                      <span class="input-group-text" id="inputGroup-sizing-default">ITEM NAME:</span>
                      <input required type="number" name="requestID" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="container content input-group mb-1" style="min-width: 30px;">
                      <span class="input-group-text" id="inputGroup-sizing-default">LOCATION:</span>
                      <input type="number" name="requestqty" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="container content input-group mb-1" style="min-width: 30px;">
                      <span class="input-group-text" id="inputGroup-sizing-default">CABINET NO.:</span>
                      <input type="text" name= "requestbrand" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="container content input-group mb-1" style="min-width: 30px;">
                    <span class="input-group-text" id="inputGroup-sizing-default">SHELF NO.:</span>
                    <input type="text" name= "requestbrand" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="container content input-group mb-1" style="min-width: 30px;">
                    <span class="input-group-text" id="inputGroup-sizing-default">LAYER NO.:</span>
                    <input type="text" name= "requestbrand" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
      
                  <br>
                  <div>
                    <span><input id="btn1" type="submit" name ="request" class="btn" value="Update"></span> 
                  </div>
                       
            </div>
        </div>
      </form>
      

                  
<br><br><br><br>
<script>
        $(document).ready(function () {
        $('#mappingTable').DataTable();
    });
</script>
    
</div>
{% endblock %}