{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Storage Mapping </title>
<link rel="stylesheet" href="{% static 'css/equipment-delivery.css' %}">
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href=https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>


<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Storage Mapping</h2></label>
            </div>
        </div>
    </nav>

<div class="home-content">
    <br>
    <div class="container" style="width: 98%;">
        <div class="kahon">
            <table id="mappingTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Item Name</th>
                        <th>Rack No.</th>
                        <th>Layer No.</th>
                        <th>Cabinet No.</th>
                        <th>Shelf No.</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in info %}
                    <tr class="edittr">
                        <td>{{x.Category}}</td>
                        <td>{{x.ItemName}}</td>
                        <td>{{x.RackNo}}</td>
                        <td>{{x.LayerNo}}</td>
                        <td>{{x.CabinetNo}}</td>
                        <td>{{x.ShelfNo}}</td>
                        <td><a class="btn btn-success" href="{% url 'inventorysystem-updateStoragemapping' x.storagemapping_id%}">Update</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
     <!-- Datatable --> 
     

                  
<br><br><br><br>
<script>
    $(document).ready(function() {
                var table = $('#mappingTable').DataTable( {
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    responsive: true
                } );
            } );
</script>
    
</div>
{% endblock %}