{% extends 'task/home.html' %}
{% load static %}

{% block content %}

<title> Supplies Withdraw </title>
<link rel="stylesheet" href="{% static 'css/supply-delivery.css' %}">
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<style>
  .btn1{
      background-color: #ad413a;
      border: 1px solid black;
      border-radius: 5px;
      color: white;
      padding: 10px 24px; 
      cursor: pointer; 
  
  }
  
  .col-md-12 input{
      border: solid #3E3E3E 1.5px;
  }
  
  
  .col-md-6 input{
      border: solid #3E3E3E 1.5px;
  }
  
  .btn1:hover {
      text-decoration: none;
      background: #9c2e26;
      color: white;
  }
  
  .btn1-group button {
      background-color: #ad413a;
      border: 1px solid black;
      color: white;
      padding: 10px 24px; 
      cursor: pointer; 
      float: right; 
      border-radius: 5px;
  }
  
  
  .btn1-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn1-group:after {
      content: "";
      clear: both;
      display: table;
  }
  
  /* Add a background color on hover */
  .btn1-group button:hover {
      background-color: #4d0d09;
  }
</style>


<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Supplies Withdraw</h2></label>
            </div>
        </div>
    </nav>

    <br>
    <div class="container home-content" align="center">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <a type="button" href="#requests" class="btn btn-outline-secondary">Requests</a>
            <a type="button" href="#withdrawnItem" class="btn btn-outline-secondary">Withdrawn Supply Item</a>
          </div>
          
    </div>
    <br>
    <!-- Datatable --> 
    <div class="container" style="width: 98%;" id="requests">
        <div class="kahon">
            <h3 align="center">Requests</h3>
            <hr>
            <table id="supplyWithdrawTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align: center;">Request No.</th>
                        <th style="text-align: center;">Department</th>
                        <th style="text-align: center;">Description</th>
                        <th style="text-align: center;">Unit</th>
                        <th style="text-align: center;">Quantity</th>
                        <th style="text-align: center;">Remaining</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in info %}
                    <tr class="edittr">
                        <td align="center">{{x.acceptSupplyRequests_id}}</td>
                        <td align="center">{{x.arequest_supply_department}}</td>
                        <td align="center">{{x.arequest_supply_description}}</td>
                        <td align="center">{{x.arequest_supply_unit}}</td>
                        <td align="center">{{x.arequest_supply_quantity}}</td>
                        <td align="center">{{x.arequest_supply_remaining}}</td>
                        <td align="center">{{x.arequest_supply_status}}</td>
                        <td align="center">
                            <button class="btn btn-success editBtn" style="margin-bottom: 10px;" name="editBtn">WITHDRAW</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


<!----- UPDATE DELIVERY MODAL ----->
<div class="modal fade" id="openModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <!----- UPDATE STATUS FORM ---->

            <form action = "" method = "POST" class="row g-3" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" id="editId" name="acceptSupplyRequests_id" value="" readonly>

                <div class="col-md-12">
                    <label class="form-label">Department:</label>
                    <input type="text" class="form-control" id="department" name="arequest_supply_department" readonly>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Description:</label>
                    <input type="text" class="form-control" id="description" name="arequest_supply_description" readonly>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Unit:</label>
                    <input type="text" min="1" class="form-control" id="unit" name="arequest_supply_unit" readonly>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Quantity:</label>
                    <input type="number" min="1" class="form-control" id="quantity" name="arequest_supply_quantity" readonly>
                </div>

                <div class="col-md-12">
                    <label class="form-label">Mainstorage Remaining:</label>
                    <input type="number" min="1" class="form-control" id="remaining" name="arequest_supply_remaining" readonly>
                </div>

                <div class="modal-footer">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </form>

        </div>
      </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        $('.editBtn').on('click', function(){

            $('#openModal').modal('show');
            $tr =$(this).closest('tr');
            var data= $tr.children("td").map(function(){
            return $(this).text();
            }).get();

            console.log(data);
            $('h5.modal-title').html('Change Withdrawing Status for: '+ data[1]);
            $('#editId').val(data[0]);
            $('#department').val(data[1]);
            $('#description').val(data[2]);
            $('#unit').val(data[3]);
            $('#quantity').val(data[4]);
            $('#remaining').val(data[5]);
        });
    });

</script>



    <div class= "container home-content btn1-group" id="withdrawnItem" style="width: 98%;">
        <form action="">
            <button class="fa fa-file-pdf-o" 
                style="font-size:13px; color:rgb(255, 255, 255); float:right"> Save Data As PDF</button>
        </form>
        <form action="{% url 'export_excel'%}">
            <button class="fa fa-file-excel-o" 
                style="font-size:13px;color:rgb(255, 255, 255); float:right "> Export Data To Excel</button>
        </form>
    </div>
    <br>
        <!-- Datatable --> 
        <div class="container" style="width: 98%;">
          <div class="kahon">
            <h3 align="center">Withdrawn Supply Item</h3>
            <hr>
            <table id="depwithdrawnTable" class="stripe cell-border hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th style="text-align: center;">Unit</th>
                        <th style="text-align: center;">Withdrawn Quantity</th>
                        <th style="text-align: center;">Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                  {% for x in info1 %}
                  <tr class="edittr">
                      <td>{{x.withdraw_supply_description}}</td>
                      <td align="center">{{x.withdraw_supply_unit}}</td>
                      <td align="center">{{x.withdraw_supply_quantity}}</td>
                      <td align="center">{{x.current_date}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>

        <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
        <br><br>
        <script>
            $(document).ready(function() {
              var table = $('#supplyWithdrawTable').DataTable( {
                  rowReorder: {
                      selector: 'td:nth-child(2)'
                  },
                  responsive: true
              });
            });

            $(document).ready(function() {
              var table = $('#depwithdrawnTable').DataTable( {
                  rowReorder: {
                      selector: 'td:nth-child(2)'
                  },
                  responsive: true
              });
            });
        </script>

{% for message in messages %}
{% if message.tags == 'info' %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    var m = "{{ message }}";
    swal('Notice: ', m,'info')
  </script>
  {% elif message.tags == 'success' %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    var m = "{{ message }}";
    swal("Transaction Complete! ", m, "success")
  </script>
{% endif %}
{% endfor %}

{% endblock %}
