{% extends 'task/dashboard.html' %}
{% load static %}



{% block content %}

<title> Supplies Delivery </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/63519495ef.js" crossorigin="anonymous"></script>


<style>
    .btn1 {
        background-color: #ad413a;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        text-decoration: none;

    }

    .col-md-12 input {
        border: solid #3E3E3E 1.5px;
    }


    .col-md-6 input {
        border: solid #3E3E3E 1.5px;
    }

    .btn1:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    .btn1-group button {
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        float: right;
        border-radius: 5px;
    }


    .btn1-group button:not(:last-child) {
        border-right: none;
        /* Prevent double borders */
    }

    /* Clear floats (clearfix hack) */
    .btn1-group:after {
        content: "";
        clear: both;
        display: table;
    }

    /* Add a background color on hover */
    .btn1-group button:hover {
        background-color: #4d0d09;
    }

    .kahon {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        background: rgb(255, 255, 255);
        padding: 32px 25px;

    }

    hr {
        border: 1px solid;
        background-color: black;
        border-radius: 5px;
    }
</style>


<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!---------------------------- Main Content ----------------------------------->

    <div id="content" class="main-content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-dark topnav topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>


            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-100 small">Welcome, {{label.username}}!</span>
                        <span class="mr-2 d-none d-lg-inline text-gray-100 small"></span>
                        <img class="img-profile rounded-circle"
                            src="{% static 'img/sb-dashboard/undraw_profile.svg' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'inventorysystem-adminProfileUpdate' %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Update Profile
                        </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{% url 'inventorysystem-logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <!----------------------------------- Begin Page Content ----------------------------->


        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="container">
                    <div class="container" style="margin-bottom: 0;">
                        <div class="container" style="margin-bottom: 0;">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-900">Supplies Delivery</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!------------------- Content Row ------------------->
            <div class="row">

                <div class="col-xl-12 col-md-12 mb-4">
                    <div class="container">
                        <div class="kahon">
                            <h3 align="center">Mainstorage</h3>
                            <hr>
                            <br>
                            <table id="mainstorage" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Delivery No.</th>
                                        <th style="text-align: center;">Description</th>
                                        <th style="text-align: center;">Unit</th>
                                        <th style="text-align: center;">Mainstorage Quantity</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in info1 %}
                                    <tr class="edittr">
                                        <td id="deliveryID" align="center">{{x.supplymainstorage_id}}</td>
                                        <td id="sdescription" align="center">{{x.supplymainstorage_description}}</td>
                                        <td id="sunit" align="center">{{x.supplymainstorage_unit}}</td>
                                        <td id="squantity" align="center">{{x.supplymainstorage_quantity}}</td>
                                        <td align="center">
                                            <button class="btn btn-success editBtn" style="margin-bottom: 10px; font-size: 12px;"
                                                    name="editBtn"> ADD</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

            <!---------------------- CONFIRMATION MODAL -------------------->
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Deliver Supply</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">Are you sure you want to deliver? Click 'Deliver' to continue.</div>
                        
                            <input type="hidden" name="modal_description" id="description" value="" required>
                            <input type="hidden" name="modal_unit" id="unit" value="" required>
                            <input type="hidden" name="modal_quantity" id="quantity" value="" required>
                            <input type="hidden" name="modal_rackNo" id="rackNo" value="" required>
                            <input type="hidden" name="modal_layerNo" id="layerNo" value="" required>
                            <input type="hidden" name="modal_cabinetNo" id="cabinetNo" value="" required>
                            <input type="hidden" name="modal_shelfNo" id="shelfNo" value="" required>

                            <div class="modal-footer">
                                <a class="btn btn-primary" href="{% url 'inventorysystem-suppliesDeliver' %}">Cancel</a>
                                <button class="btn btn-success" name="modal_delivery" id="deliverBtn" type="submit" >Deliver</button>
                            </div>
                        </form>
                    </div>
                        
                        
                </div>
            </div>



            <!---------------------- ADD MODAL -------------------->
            <div class="modal fade" id="openModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                                {% csrf_token %}

                                <input type="hidden" id="editId2" name="supplymainstorage_id" value="" readonly>

                                <div class="col-md-12">
                                    <label class="form-label">Description:</label>
                                    <input type="text" class="form-control" id="description2"
                                        name="supplymainstorage_description" readonly>
                                </div>

                                <div class="col-md-12">
                                    <label class="form-label">Unit:</label>
                                    <input type="text" class="form-control" id="unit2" name="supplymainstorage_unit"
                                        readonly>
                                </div>

                                <div class="col-md-12">
                                    <span style="color: red; font-size: 18px; font-weight: bold;">* </span><label
                                        class="form-label">Add Quantity:</label>
                                    <input type="number" min="1" class="form-control" id="quantity"
                                        name="supplymainstorage_RequestQuantity" required>
                                </div>

                                <div class="modal-footer">
                                    <div class="col-12">
                                        <button style="float: right;" type="submit" name="delivery_update"
                                            class="btn btn-primary">ADD</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


             <!---------------------- UPDATE MODAL -------------------->
             <div class="modal fade" id="openModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form action="" method="POST" class="row g-3" enctype="multipart/form-data">
                                {% csrf_token %}

                                <input type="hidden" id="editId1" name="supplymainstorage_editid" value="" readonly>

                                <div class="col-md-12">
                                    <label class="form-label">Description:</label>
                                    <input type="text" class="form-control" id="description1"
                                        name="supplymainstorage_editdescription" >
                                </div>

                                <div class="col-md-12">
                                    <label class="form-label">Unit:</label>
                                    <input type="text" class="form-control" id="unit1" name="supplymainstorage_editunit">
                                </div>

                                <div class="col-md-12">
                                    <label class="form-label">Mainstorage Quantity:</label>
                                    <input type="text" class="form-control" id="mainstoragequantity1" name="mainstorage_editquantity"
                                        readonly>
                                </div>


                                <div class="modal-footer">
                                    <div class="col-12">
                                        <button style="float: right;" type="submit" name="delivery_edit"
                                            class="btn btn-primary"> UPDATE</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <script type="text/javascript">

                var table = $('#mainstorage').DataTable({
                        rowReorder: {
                            selector: 'td:nth-child(2)'
                        },
                        responsive: true,
                    });

                    $('#mainstorage tbody').on('click', 'tr', function () {
                        $('#openModal2').modal('show');
                        $('h5.modal-title').html('Add Item Delivery for: ' + table.row(this).data()[1]);
                        $('#editId2').val(table.row(this).data()[0]);
                        $('#description2').val(table.row(this).data()[1]);
                        $('#unit2').val(table.row(this).data()[2]);   
                    });



                // $(document).ready(function () {
                //     $('.editBtn1').on('click', function () {

                //         $('#openModal1').modal('show');
                //         $tr = $(this).closest('tr');
                //         var data = $tr.children("td").map(function () {
                //             return $(this).text();
                //         }).get();

                //         console.log(data);
                //         $('h5.modal-title').html('Edit Item Delivery');
                //         $('#editId1').val(data[0]);
                //         $('#description1').val(data[1]);
                //         $('#unit1').val(data[2]);
                //         $('#mainstoragequantity1').val(data[3]);
                //     });
                // });
                

                // $(document).ready(function () {
                //     $('.editBtn2').on('click', function () {

                //         $('#openModal2').modal('show');
                //         $tr = $(this).closest('tr');
                //         var data = $tr.children("td").map(function () {
                //             return $(this).text();
                //         }).get();

                //         console.log(data);
                //         $('h5.modal-title').html('Edit Item Delivery');
                //         $('#editId2').val(data[0]);
                //         $('#description2').val(data[1]);
                //         $('#unit2').val(data[2]);
                //         $('#deliveryquantity').val(data[3]);
                //         $('#deliveryrackno').val(data[4]);
                //         $('#deliverylayerno').val(data[5]);
                //         $('#deliverycabinetno').val(data[6]);
                //         $('#deliveryshelfno').val(data[7]);
                //     });
                // });
            </script>


            <!------------------------------- Content Row ------------------------------------->



            <!-- Content Row -->
            <div class="row">
                <div class="col-xl-12 col-md-12 mb-4">
                    <div class="container">
                        <div class="kahon">
                            <h3>Deliver New Item</h3>
                            <br>
                            <form class="row g-3" action="" method="POST">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <label class="form-label">Description: </label>
                                    {{form.delivery_supply_description}}
                                    <!-- <input type="text" list="deliveryItemname" class="form-control" placeholder="Description" autocomplete="on" 
                                    id="delivery_supply_description" name="delivery_supply_description" > -->
                                    <datalist id="deliveryItemname">
                                        <option id="1" value="Blue Ballpen"></option>
                                        <option id="2" value="Black Ballpen"></option>
                                        <option id="3" value="Long Bondpaper"></option>
                                        <option id="4" value="Short Bondpaper"></option>
                                        <option id="5" value="A4 Bondpaper"></option>
                                        <option id="6" value="Long Folder"></option>
                                        <option id="7" value="Short Folder"></option>
                                        <option id="8" value="Expandable Folder"></option>
                                        <option id="9" value="Long Envelope"></option>
                                        <option id="10" value="Short Envelope"></option>
                                        <option id="11" value="Expandable Envelope"></option>
                                        <option id="12" value="Glue"></option>
                                        <option id="13" value="Black Marker"></option>
                                        <option id="14" value="Blue Marker"></option>
                                        <option id="15" value="White Board Marker"></option>
                                        <option id="16" value="Paper Clip"></option>
                                        <option id="17" value="Pencil"></option>
                                        <option id="18" value="Stapler"></option>
                                        <option id="19" value="Packing Tape"></option>
                                        <option id="20" value="Scotch Tape"></option>
                                        <option id="21" value="Tape Dispenser"></option>
                                    </datalist>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Unit: </label><br>
                                    {{form.delivery_supply_unit}}
                                    <datalist id="deliveryUnit">
                                        <option id="1" value="Box"></option>
                                        <option id="2" value="Ream"></option>
                                        <option id="3" value="Pc"></option>
                                        <option id="4" value="Bundle"></option>
                                        <option id="5" value="Roll"></option>
                                    </datalist>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Quantity: </label>
                                    {{form.delivery_supply_quantity}}
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Rack No: </label>
                                    {{form.delivery_supplyRackNo}}
                                </div>
                                
                                <div class="col-md-3">
                                    <label class="form-label">Layer No: </label>
                                    {{form.delivery_supplyLayerNo}}
                                </div>
                                
                                <div class="col-md-3">
                                    <label class="form-label">Cabinet No: </label>
                                    {{form.delivery_supplyCabinetNo}}
                                </div>
                                
                                <div class="col-md-3">
                                    <label class="form-label">Shelf No: </label>
                                    {{form.delivery_supplyShelfNo}}
                                </div>

                                <div class="col-12">
                                    <p><i style="color: red;"><b>**Note: </b>Kindly double check the informations before submitting.</i></p>   
                                </div>

                                <div class="col-12">
                                    <a class="btn btn-primary" style="float: right;" id="confirm" onclick="getval()" name="delivery_new" href="#" data-toggle="modal" data-target="#confirmModal">Deliver</a>
                                    <!-- <button class="btn btn-primary" style="float: right;" id="confirm" onclick="getval()" name="delivery_new" href="#" data-toggle="modal" data-target="#confirmModal">Deliver</button> -->
                                    <!-- <button type="submit" id="submit" class="btn1" name="delivery_new"
                                        style="float: right;" value="Submit"> Deliver </button> -->
                                </div>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
            <br><br>
            <div class="row">
                <div class="col-xl-12 col-md-12 mb-4">

                    <div class="row">
                        <div class="container">
                            <div class="container">
                                <div class="container mb-4">
                                    <div class="btn-group btn-group-sm" role="group">
                                        <form action="{% url 'export_pdf_suppydelivery'%}">
                                            <button class="btn btn-sm btn-primary shadow-sm">Convert to PDF</button>
                                        </form>
                                        <form action="{% url 'export_excel'%}">
                                            <button class="btn btn-sm btn-primary shadow-smy">Export to XLS</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="kahon">
                            <h3 align="center">Delivery Records</h3>
                            <hr>
                            <br>
                            <table id="supplyDeliveryTable" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th style="text-align: center;">Unit</th>
                                        <th style="text-align: center;">Delivery Quantity</th>
                                        <th style="text-align: center;">Remaining</th>
                                        <th style="text-align: center;">Date Delivered</th>
                                        <th style="text-align: center;">Time Delivered</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in info %}
                                    <tr class="edittr">
                                        <td>{{x.delivery_supply_description}}</td>
                                        <td align="center">{{x.delivery_supply_unit}}</td>
                                        <td align="center">{{x.delivery_supply_quantity}}</td>
                                        <td align="center">{{x.delivery_supply_remaining}}</td>
                                        <td align="center">{{x.current_date}}</td>
                                        <td align="center">{{x.current_time}}</td>
                                        <!-- <td align="center">
                                            <button class="fa-sharp fa-solid fa-edit btn btn-success editBtn1" style="margin-bottom: 10px; font-size: 12px;"
                                                    name="editBtn"> EDIT</button>
                                        </td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    {% for message in messages %}
    {% if message.tags == 'info' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Notice: ", m, "info")
    </script>
    {% elif message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Success! ", m, "success")
    </script>
    {% endif %}
    {% endfor %}


    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#supplyDeliveryTable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true
            });
        });


        // $('#deliverBtn').click(function () {
        //         var aaa = $(this);
        //         aaa.prop('disabled', true);
        //         setTimeout(function () {
        //             aaa.prop('disabled', false);
        //         }, 5000);
        // });

        // para makuha yung value sa form papunta don sa confirm modal
        function getval(){
            var a = document.getElementById('delivery_supply_description').value;
            var b = document.getElementById('delivery_supply_unit').value;
            var c = document.getElementById('delivery_supply_quantity').value;
            var d = document.getElementById('delivery_supplyRackNo').value;
            var e = document.getElementById('delivery_supplyLayerNo').value;
            var f = document.getElementById('delivery_supplyCabinetNo').value;
            var g = document.getElementById('delivery_supplyShelfNo').value;

            document.getElementById('description').value = a;
            document.getElementById('unit').value = b;
            document.getElementById('quantity').value = c;
            document.getElementById('rackNo').value = d;
            document.getElementById('layerNo').value = e;
            document.getElementById('cabinetNo').value = f;
            document.getElementById('shelfNo').value = g;
            

        }

        // function enableBtn () {
        //     if (document.getElementById('description').value !== '')  {
        //         document.getElementById('confirm').disabled = false;

        //     } 
        // }

        


    </script>

    <!------------------------------------ Footer ------------------------------------->
    <footer class="sticky-footer footer ">
        <div class="container my-auto">
            <div class="copyright text-gray-700 text-center my-auto">
                <span>Copyright &copy; <strong><span>COET-4A 2022-2023</span></strong>. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


{% endblock %}