{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Supplies Delivery </title>
<link rel="stylesheet" href="{% static 'css/qr-reader.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.4.0/css/select.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.bootstrap5.min.css">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<style>
    .btn{
    top: 0;
    left: 50%;
    color: black;
    border-radius: 10px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: bolder;
    display: inline-block;
    border: 2px solid #a7241b;
    background: transparent;
    
  }
  
  .btn:hover {
  text-decoration: none;
  background: #9c2e26;
  color: white;
  }

  div.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 32px 25px;
  height: inherit;
  }

  .box{
    border: solid black 2px;
    padding: 5px 5px;
  }
  div.box {
    border: solid black 2px;
    padding: 25px 25px 25px; 
  }

  .form-group input{
    border: solid #3E3E3E 1px;
  }

.btn-group button {
  background-color: #ad413a;
  border: 1px solid black;
  color: white;
  padding: 10px 24px; 
  cursor: pointer; 
  float: right; 
}


.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #4d0d09;
}


</style>


<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Supplies Delivery</h2></label>
            </div>
        </div>
    </nav>

<div class="container home-content">
    <div class="container">
        <h4>Mainstorage</h4>
    </div>

    <div class="container">
        <div class="box">
            <table id="mainstorage" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Unit</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for x in info1 %}
                <form action="" method="post">
                    {% csrf_token %}
                    <tr>
                        <td>{{x.ItemName}}</td>
                        <td>{{x.Unit}}</td>
                        <td>{{x.Description}}</td>
                        <td>{{x.Quantity}}</td>
                        <td><a class="btn" style="margin-bottom: 10px;" href="{% url 'inventorysystem-updateSuppliesDeliver' x.supplymainstorage_id %}">UPDATE</a></td>
                    </tr>
                </form>
                    
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    
    <div class="container">
        <div class="card">
            <h4>New item</h4>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Item Name:</label>
                        {{form.delivery_supply_itemname}}
                        <datalist id="deliveryItemname">
                            <option id="1" value="Bondpaper"></option>
                            <option id="2" value="Pencil"></option>
                            <option id="3" value="Ballpen"></option>
                            <option id="4" value="Scotch Tape"></option>
                        </datalist> 
                    </div>
                    <div class="input-field form-group col-md-6 ">
                        <label>Unit</label>
                        {{form.delivery_supply_unit}}
                        <datalist id="deliveryUnit">
                            <option id="1" value="Box"></option>
                            <option id="2" value="Bundle"></option>
                            <option id="3" value="Ream"></option>
                            <option id="4" value="Pcs"></option>
                        </datalist> 
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Description</label>
                        {{form.delivery_supply_description}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Quantity</label>
                        {{form.delivery_supply_quantity}}
                    </div>
                    
                </div>
                    
                <input type="submit" class="btn" value="Submit">
               
            </form>   
        </div>     
    </div>
    <div class= "container home-content btn-group" >
        <form action="">
            <button class="fa fa-file-pdf-o right" 
                style="font-size:13px;color:rgb(255, 255, 255)"> Save Data As PDF</button>
        </form>
        <form action="{% url 'export_excel'%}">
            <button class="fa fa-file-excel-o right" 
                style="font-size:13px;color:rgb(255, 255, 255)"> Export Data To Excel</button>
        </form>
    </div>

<br><br>
        <div class="container">
            <h4>Delivery Record</h4>
        </div>
        
          <div class="container">
            <div class="box">
                <table id="supplyDeliveryTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Unit</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Remaining</th>
                            <th>Date & Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in info %}
                        <tr>
                            <td>{{x.delivery_supply_itemname}}</td>
                            <td>{{x.delivery_supply_unit}}</td>
                            <td>{{x.delivery_supply_description}}</td>
                            <td>{{x.delivery_supply_quantity}}</td>
                            <td>{{x.delivery_supply_remaining}}</td>
                            <td>{{x.current_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>


    <br><br>
   
        {% for message in messages %}
            {% if message.tags == 'info' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    var m = "{{ message }}";
                    swal("Notice: ", m, "info")
                </script>
                {% elif message.tags == 'success' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                var m = "{{ message }}";
                swal("Success! ", m, "success")
                </script>
            {% endif %}
        {% endfor %}


        <script>
            $(document).ready(function () {
            $('#supplyDeliveryTable').DataTable();
            $('#mainstorage').DataTable();
            });
        </script>
    </div>

</div>


<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<br>

{% endblock %}
