{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Supplies Withdraw </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
    .btn1{
    top: 0;
    left: 50%;
    color: black;
    border-radius: 10px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    display: inline-block;
    border: 2px solid #a7241b;
    background: transparent;
    
  }
  
  .btn1:hover {
    text-decoration: none;
    background: #9c2e26;
    color: white;
  }
  .btn{
    top: 0;
    left: 50%;
    color: black;
    border-radius: 15px;
    padding: 7px 15px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
    border: 2px solid #7a8d10;
    background: transparent;
  }
  
  .btn:hover {
    text-decoration: none;
    background: #7a8d10;
    color: white;
  }
</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Supplies Withdraw</h2></label>
            </div>
        </div>
    </nav>

<br>
<div class="container home-content">
    <div align="right" style="padding-bottom: 10px; padding-right: 45px; margin: auto;">
        <span><button id="btn2" type="button" class="btn1" style="margin-bottom: 10px;">Save Data As PDF</button></span><br>
        <span><button id="btn2" type="button" class="btn1">Export Data To Excel</button></span>
    </div>
</div>
<br>
<div style="margin: auto; width: 90%;">
        
        <!-- Datatable --> 
         <table id="supplyWithdrawTable" class="stripe cell-border hover" style="width:100%">
             <thead>
                 <tr>
                     <th>Department</th>
                     <th>Item Name</th>
                     <th>Description</th>
                     <th>Unit</th>
                     <th>Quantity</th>
                     <th>Remaining</th>
                     <th>Status</th>
                     <th>Action</th>
                 </tr>
             </thead>
             <tbody>
                {% for x in info %}
                <tr>
                    <td>{{x.arequest_supply_department}}</td>
                    <td>{{x.arequest_supply_itemname}}</td>
                    <td>{{x.arequest_supply_description}}</td>
                    <td>{{x.arequest_supply_unit}}</td>
                    <td>{{x.arequest_supply_quantity}}</td>
                    <td>{{x.arequest_supply_remaining}}</td>
                    <td>{{x.arequest_supply_status}}</td>
                    <td><a class="btn" style="margin-bottom: 10px;" href="{% url 'inventorysystem-suppliesWithdrawStatus' x.id %}">WITHDRAW</a></td>
                </tr>
                {% endfor %}
             </tbody>
    
         </table>
         <br><br>
        <script>
                $(document).ready(function () {
                $('#supplyWithdrawTable').DataTable();
            });
        </script>
{% endblock %}
