{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Supplies Withdraw </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<style>
  .btn{
    background-color: #ad413a;
    border: 1px solid black;
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
  }
    
  .btn:hover {
    text-decoration: none;
    background: #9c2e26;
    color: white;
  }

  .btn-group button {
    background-color: #ad413a;
    border: 1px solid black;
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    float: right; 
  }

  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #4d0d09;
  }

  .box{
    border: solid black 2px;
    padding: 5px 5px;
  }
  
  div.box {
    border: solid black 2px;
    padding: 25px 25px 25px; 
  }
</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Supplies Withdraw</h2></label>
            </div>
        </div>
    </nav>

<br>
<div class= "container home-content btn-group" >
    <form action="">
        <button class="fa fa-file-pdf-o" 
            style="font-size:13px; color:rgb(255, 255, 255); float:right"> Save Data As PDF</button>
    </form>
    <form action="{% url 'export_excel'%}">
        <button class="fa fa-file-excel-o" 
            style="font-size:13px;color:rgb(255, 255, 255); float:right "> Export Data To Excel</button>
    </form>
</div>
<br><br><br>
        
        <!-- Datatable --> 
    <div class="container">
        <div class="box">
            <table id="supplyWithdrawTable" class="stripe cell-border hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Remaining</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in info %}
                    <tr>
                        <td>{{x.arequest_supply_department}}</td>
                        <td>{{x.arequest_supply_itemname}}</td>
                        <td>{{x.arequest_supply_description}}</td>
                        <td>{{x.arequest_supply_unit}}</td>
                        <td>{{x.arequest_supply_quantity}}</td>
                        <td>{{x.arequest_supply_remaining}}</td>
                        <td>{{x.arequest_supply_status}}</td>
                        <td><a class="btn" style="margin-bottom: 10px;" href="{% url 'inventorysystem-updateSupplyWithdraw' x.acceptSupplyRequests_id %}">WITHDRAW</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
         <br><br>
        <script>
                $(document).ready(function () {
                $('#supplyWithdrawTable').DataTable();
            });
        </script>

{% for message in messages %}
{% if message.tags == 'info' %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    var m = "{{ message }}";
    swal('Notice: ', m,'info')
  </script>
  {% elif message.tags == 'success' %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    var m = "{{ message }}";
    swal("Transaction Complete! ", m, "success")
  </script>
{% endif %}
{% endfor %}

{% endblock %}
