{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Update Status Supply </title>
<link rel="stylesheet" href="{% static 'css/edit-supply-delivery.css' %}">

<style>
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    .form-holder-1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 32px 25px;
    width: 45em;
    position: absolute;
    top: 7em;
    left: 12em;
    background: whitesmoke;
}
</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Update Status Supply</h2></label>
            </div>
        </div>
    </nav>

    <br><br><br><br><br>
    <div class="container">
        <div class="form-holder-1">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Update Status Supply</h3>
                        <form action = "" method = "POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Add Quantity: </label>
                                {{form.limit_addquantity}}
                            </div>

                            <div class="form-button mt-3">
                                <button style="float: right;" id="submit" type="submit" id="btn1" class="btn">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    




</section>



{% endblock %}