{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Update Equipment Delivery </title>
<link rel="stylesheet" href="{% static 'css/edit-request-supply.css' %}">

<style>
    .btn1{
        top: 0;
        left: 50%;
        color: black;
        border-radius: 10px;
        padding: 7px 25px 8px 25px;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: bolder;
        display: inline-block;
        border: 2px solid #a7241b;
        background: transparent;
    
     }
  
  .btn1:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }
  .btn{
        top: 0;
        left: 50%;
        color: black;
        border-radius: 15px;
        padding: 7px 15px;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-weight: bolder;
        display: inline-block;
        border: 2px solid #a7241b;
        background: transparent;
    }
  
  .btn:hover {
        text-decoration: none;
        background: #a7241b;
        color: white;
    }
    .form-holder{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 32px 25px;
        height: inherit;
    }

</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Equipment Delivery</h2></label>
            </div>
        </div>
    </nav>

    <div class="home-content container">
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h5>Add Quantity for Existing Item</h5>
                        <form action = "" method = "POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Itemname: </label>
                                    {{form.ItemName}}
                                </div>
                                <div class="form-group">
                                    <label>Brand: </label>
                                    {{form.Brand}}
                                </div>
                                <div class="form-group">
                                    <label>Quantity: </label>
                                    {{form.Quantity}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Description: </label>
                                    {{form.Description}}
                                </div>
                                <div class="form-group">
                                    <label>Add Quantity: </label>
                                    {{form.Remaining}}
                                </div>  
                            </div>
                            <br>

                            <div class="form-button">
                                <label></label>
                                <button style="float: right;" id="submit" type="submit" id="btn1" class="btn">ADD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>



{% endblock %}