{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Update Equipment Delivery </title>
<link rel="stylesheet" href="{% static 'css/edit-supply-delivery.css' %}">

<style>
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }


</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Equipment Delivery</h2></label>
            </div>
        </div>
    </nav>

    <div class="home-content container">
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h5>Add Quantity for Existing Item</h5>
                        <form action = "" method = "POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Itemname: </label>
                                    {{form.equipmentmainstorage_itemName}}
                                </div>
                                <div class="form-group">
                                    <label>Brand: </label>
                                    {{form.equipmentmainstorage_brand}}
                                </div>
                                <div class="form-group">
                                    <label>Quantity: </label>
                                    {{form.equipmentmainstorage_quantity}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label>Description: </label>
                                    {{form.equipmentmainstorage_description}}
                                </div>
                                <div class="form-group">
                                    <label>Add Quantity: </label>
                                    {{form.equipmentmainstorage_remaining}}
                                </div>  
                            </div>
                            <br>

                            <div class="form-button">
                                <label></label>
                                <button style="float: right;" id="submit" type="submit" id="btn" class="btn">ADD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>



{% endblock %}