{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> Update Supply Delivery </title>
<link rel="stylesheet" href="{% static 'css/edit-request-supply.css' %}">

<style>
    .content {
        max-width: 300px;
        margin: auto;
    }
    .btn1{
        top: 0;
        left: 50%;
        color: black;
        border-radius: 10px;
        padding: 7px 25px 8px 25px;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: bolder;
        display: inline-block;
        border: 2px solid #a7241b;
        background: transparent;
    
     }
  
  .btn1:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }
  .btn{
        top: 0;
        left: 50%;
        color: black;
        border-radius: 15px;
        padding: 7px 15px;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-weight: bolder;
        display: inline-block;
        border: 2px solid #a7241b;
        background: transparent;
    }
  
  .btn:hover {
        text-decoration: none;
        background: #a7241b;
        color: white;
    }
</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Update Supply Delivery</h2></label>
            </div>
        </div>
    </nav>

    <br><br><br><br><br>
    <div class="container">
        <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Update Supply Delivery</h3>
                        <form action = "" method = "POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    {{form.ItemName}}
                                </div>
                                <div class="form-group">
                                    {{form.Unit}}
                                </div>
                                <div class="form-group">
                                    {{form.Description}}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    {{form.Quantity}}
                                </div>
                                <div class="form-group">
                                    {{form.Remaining}}
                                </div>     
                            </div>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" id="btn1" class="btn">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>



{% endblock %}