{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="icon" href="{% static 'img/TUP LOGO.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}" />

    <title>Supply Inventory | Log-in</title>
  </head>

  
  <body>
    <div class="container">
      <div class="overlay">

      
        <div class="forms-container">
          <div class="signin-signup">

          <!-- Admin login form -->
            <form action="" method="post" class="sign-in-form" id="login">
              {% csrf_token %}
              <div class="overlay-form">

                <h2 class="title">Admin Sign-in</h2>
                
                <div class="input-field">
                  <i class="fas fa-user"></i>
                  <input type="text" id="lg-username" name="logname" placeholder="Username"  required/>
                </div>
                <div class="input-field">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="logpass1" name="logpass1" placeholder="Password" required/>
                </div>
                <div class="col-md-12" style="text-align: left; margin: 0; padding: 0;">
                  <input type="checkbox" onclick="showpass1()" class="custom-control-input" id="customControlInline">
									<label class="custom-control-label" for="customControlInline" style="color: #ffff; padding-left: 5px;">Show password</label>
                </div>
                <input type="submit"  name="submit" value="Login" class="btn solid" />
                <br>
                <a class="link" href="{% url 'reset_password' %}" style="color: #fff;">Forgot password?</a>
              </div>
              

              
            </form>



            <!--- Department login form-->
            <form action="" method="post" class="sign-up-form" id="signup">
              {% csrf_token %}
              <div class="overlay-form">
                <h2 class="title">Department Sign-in</h2>
                <div class="input-field">
                  <i class="fas fa-user"></i>
                  <input type="text" id="sg-username" name="logusername" placeholder="Username" required/>
                </div>
                <div class="input-field">
                  <i class="fas fa-envelope"></i>
                  <input type="email" id="sg-email" name="email" placeholder="Email" required/>
                </div>
                <div class="input-field">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="logpass2" name="logpass2" placeholder="Password" required/>
                </div>
                <div class="col-md-12" style="text-align: left;">
                  <input type="checkbox" onclick="showpass2()" class="custom-control-input" id="customControlInline">
									<label class="custom-control-label" for="customControlInline" style="color: #ffff; padding-left: 5px;">Show password</label>
                </div>
                <input type="submit" name="submit1" class="btn" value="Login" />
                <br>
                <a class="link" href="{% url 'reset_password' %}" style="color: #fff;">Forgot password?</a>
              </div>
              
              
            </form>
          </div>
        </div>


        <!-- Panel animation -->
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content">
              <h3>Part of Faculty?</h3>
              <p>
                hit that sign-in button to sign-in to your account!
              </p>
              <button class="btn transparent" id="sign-up-btn" style="color: #fff;">
                Sign-in
              </button>
            </div>
              <img src="{% static '/img/department.svg' %}" class="image" alt="department" />
          </div>


          <div class="panel right-panel">
            <div class="content">
              <h3>Part of Administration?</h3>
              <p>
                hit that sign-in button to log back in! 
              </p>
              <button class="btn transparent" id="sign-in-btn" style="color: #fff;">
                Sign in
              </button>
            </div>
            <img src="{% static 'img/admin.svg' %}" class="image" alt="mobile" />
          </div>
        </div>
      </div>
    </div>
  </div>



    <!-- script -->
    <script src="{% static 'js/app.js' %}"></script>
    
  </body>

  {% for message in messages %}
    {% if message.tags == 'info' %}
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script>
        var m = "{{ message }}";
        swal('Notice: ', m,'info')
      </script>
    {% endif %}
  {% endfor %}

  <script type="text/javascript">
		function showpass1() {
			var x = document.getElementById("logpass1");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}

    function showpass2() {
			var x = document.getElementById("logpass2");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
  </script>


</html>
