{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> View Request Supply </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href=https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<style>
    .btn{
        background-color: #ad413a;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }
    
    .btn:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }
        
    .box{
        border: solid black 2px;
        padding: 5px 5px;
    }
    
    div.kahon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: whitesmoke;
    padding: 32px 25px;
    height: inherit;
}
</style>

<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Request Supplies</h2></label>
            </div>
        </div>
    </nav>

<br>

<br><br><br><br>

<div style="margin: auto; width: 90%;">
    <div align="left" style="padding-bottom: 10px; margin: auto; float: right;">
        <a type="btn1" href="{% url 'inventorysystem-suppliesWithdraw' %}" class="btn">Withdraw Request</a>
    </div>
</div>
<br><br><br>
            
<!-- Datatable --> 
<div class="container" style="width: 95%;">
    <div class="kahon">
        <table id="viewRequestSupplyTable" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Department</th>
                    <th style="text-align: center;">Description</th>
                    <th style="text-align: center;">Unit</th>
                    <th style="text-align: center;">Quantity</th>
                    <th style="text-align: center;">Remaining</th>
                    <th style="text-align: center;">Date & Time</th>
                    <th style="text-align: center;">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for x in info %}
                <tr>
                    <td>{{x.request_supply_department}}</td>
                    <td align="center">{{x.request_supply_description}}</td>
                    <td align="center">{{x.request_supply_unit}}</td>
                    <td align="center">{{x.request_supply_quantity}}</td>
                    <td align="center">{{x.request_supply_remaining}}</td>
                    <td align="center">{{x.current_date}}</td>
                    <td align="center"><a class="btn" style="margin-bottom: 10px;" href="{% url 'inventorysystem-editRequestSupply' x.requestsupply_id %}">ACCEPT</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <br><br>

<script>

    $(document).ready(function() {
                var table = $('#viewRequestSupplyTable').DataTable( {
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    responsive: true
                } );
            } );
</script>


{% for message in messages %}
    {% if message.tags == 'info' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Notice: ", m, "info")
    </script>
    {% elif message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    var m = "{{ message }}";
    swal("Success! ", m, "success")
    </script>
    {% endif %}
{% endfor %}

{% endblock %}
