{% extends 'task/home.html' %}
{% load static %}



{% block content %}

<title> View Request Equipment </title>
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
    .btn1{
        top: 0;
        left: 50%;
        color: black;
        border-radius: 25px;
        padding: 7px 25px 8px 25px;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: bolder;
        display: inline-block;
        border: 2px solid #a7241b;
        background: transparent;
    
    }
  
    .btn1:hover {
        text-decoration: none;
        background: #9c2e26;
        color: white;
    }

    .btn{
        top: 0;
        left: 50%;
        color: black;
        border-radius: 25px;
        padding: 7px 15px;
        white-space: nowrap;
        transition: 0.3s;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-weight: bolder;
        display: inline-block;
        border: 2px solid #7a8d10;
        background: transparent;
        
    }
    
    .btn:hover {
        text-decoration: none;
        background: #7a8d10;
        color: white;
    }
</style>

<script type="text/javascript" src="{% static 'js/llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plusone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webqr.js' %}"></script>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <div>
                <label style="padding-top: 10px;"><h2>Request Equipment</h2></label>
            </div>
        </div>
    </nav>

<br>
    <div class="container home-content">
        <div align="right" style="padding-bottom: 10px; padding-right: 45px; margin: auto;">
            <span><button id ="btn2" type="button" class="btn1" style="margin-bottom: 10px;">Save Data As PDF</button></span><br>
            <span><button id ="btn2" type="button" class="btn1">Export Data To Excel</button></span>
        </div>
    </div>
    <br>

<div style="margin: auto; width: 90%;">
    <div align="left" style="padding-bottom: 10px; margin: auto;">
        <a type="btn1" href="{% url 'inventorysystem-equipmentWithdraw' %}" class="btn1">Withdraw Request</a>
    </div>
<br>
<!-- Datatable --> 
    <table id="equipDeliveryTable" class="stripe cell-border hover" style="width:100%">
        <thead>
            <tr>
                <th>Department</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Remaining</th>
                <th>Date & Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>OSA</td>
                <td>Marker</td>
                <td>Black Whiteboard Marker</td>
                <td>Artline</td>
                <td>Box</td>
                <td>45</td>
                <td>10</td>
                <td>08-01-22 12:56:13</td>
                <td><button type="button" class="btn" style="margin-bottom: 10px;">ACCEPT</button></td>
            </tr>
            <tr>
                <td>ADAA</td>
                <td>Marker1</td>
                <td>Black Whiteboard Marker</td>
                <td>Artline</td>
                <td>Box</td>
                <td>45</td>
                <td>10</td>
                <td>08-01-22 12:56:13</td>
                <td><button type="button" class="btn" style="margin-bottom: 10px;">ACCEPT</button></td>
            </tr>
        </tbody>

    </table>
    <br><br>

<script>
        $(document).ready(function () {
        $('#equipDeliveryTable').DataTable();
    });
</script>

{% endblock %}
